[2017-01-06 20:00] mzelecom opened #1 "error in vb.net"
i used watsontcp in vb.net but when run this error occurd.i can i fix it.
mycode:
Dim server As New WatsonTcpServer("192.168.1.5", 2992, AddressOf ClientConnected, AddressOf ClientDisconnected, AddressOf MessageReceived, False)

error:
An unhandled exception of type 'System.TypeLoadException' occurred in System.Windows.Forms.dll

Additional information: Could not load type 'WatsonTcp.WatsonTcpServ

[2017-02-06 22:40] brudo opened #2 "Busy wait loop uses excessive CPU when sending / receiving bytes."
I tried to implement WatsonCluster in one of our applications. It worked fine to detect whether the cluster was healthy or not, indicating the firewall is configured properly. However, a message sent from one instance did not arrive on the partner instance, and I noticed the CPU got pegged at 100% on the partner machine. I believe this may be due to a busy wait loop using Sleep() in WatsonTcp, in

[2017-02-06 23:20] jchristn commented on #2
Hi @brudo - thanks for submitting this.  I'll take a look in the next day.  Please also feel free to submit a pull request that I can merge if it's something you've changed already.  Else I'll let you know ASAP.  Thanks again!

[2017-02-06 23:21] jchristn commented on #1
Hi @mzelecom sorry I just saw this, I'm not sure why I didn't get a notification on it.  Is the DLL in the output directory of your app?

[2017-02-06 23:34] jchristn commented on #2
@brudo looks like Task.Delay was simple enough, I'll commit a fix right now for WatsonTcp and update WatsonCluster for it.  Should be ready on both Github and NuGet in about 15 minutes.  Please re-open if the issue isn't resolved!

[2017-02-06 23:50] jchristn commented on #2
I updated WatsonTcp and via the testclient/testserver verified that the CPU utilization is reduced by use of Task.Delay (thank you for that suggestion!).  I updated NuGet, and updated the NuGet reference in WatsonCluster and it seems that it still has a CPU utilization issue.  I'll have to see if I can find someone with a license of ANTS to track this one down (mine expired) or just get a license

[2017-02-07 00:45] brudo commented on #2
I do not have ANTS. Happy to help troubleshoot this issue in WatsonTcp and continue using it if we get it resolved.

[2017-02-07 01:44] jchristn commented on #2
Hi @brudo I just purchased a license and will get it tested and report back soon.

[2017-02-07 01:59] brudo commented on #2
OK thank you. Meanwhile I reviewed the change in GitHub. If you do use use Task.Delay you need to await the result. The difference between this and sleep is it does not tie up the thread. But to use await, you need to make the method async, which changes the signature.

[2017-02-07 02:21] jchristn commented on #2
Thanks - I updated to use .Wait() and also tried with new System.Threading.ManualResetEvent(false).WaitOne(n);.  It seems the CPU issue is actually with the continual call to .IsConnected() which simply returns a bool (per ANTSPP).  I'll be checking back into this after I get back from a dinner event this evening.

[2017-02-07 06:27] jchristn commented on #2
Hi @brudo I just pushed a new version to github and to NuGet for WatsonCluster, could you please let me know if this addresses the issue for you?  Thanks!

[2017-02-07 17:53] brudo commented on #2
Hi @jchristn thanks for the quick response on this. Was there a commit intended for WatsonTcp as well (to use Wait?) Since the issue causing the high CPU usage was in WatsonCluster, I think it would actually be good to revert WatsonTcp to the prior version 1.0.4 that used Sleep().

From reviewing the code, broader changes would be required in both the client and the server to make this library com

[2017-02-07 17:56] jchristn commented on #2
Hi @brudo yes there was a commit to WatsonTcp (https://github.com/jchristn/WatsonTcp/commit/22cc02f375508246897d290ff6628f0b65677698) as well, and a NuGet update (https://www.nuget.org/packages/WatsonTcp/).  Agree that a broader change is needed.  I tested functionality and measured CPU using Task Manager and ANTSPP and it seems to be working well now.  I'll keep the Task.Delay Wait in place for n

[2017-02-07 17:56] #2 closed

[2017-02-08 00:52] brudo opened #4 "Revert last revision, where Thread.Sleep was removed and the Connected field was exposed, and return to 1.0.4"
I have opened a pull request concerning this, see PR-3. This recommends reverting the last commit and leaving WatsonTcp 1.0.4 as the stable version. There is a parallel issue raised to revert changes in WatsonCluster so that it continues to use IsConnected().

[2017-02-08 18:36] jchristn commented on #4
Thank you @brudo

[2017-02-08 18:36] #4 closed

[2017-02-08 22:15] brudo opened #5 "Please relist WatsonTcp 1.0.4 and compatible WatsonCluster on NuGet"
In light of recent changes committed, can you please relist WatsonTcp 1.0.4 on NuGet? It can still be accessed by direct reference e.g. https://www.nuget.org/packages/WatsonTcp/1.0.4 but doesn't show up in NuGet Package Manager. Also, please republish WatsonCluster to restore compatibility with WatsonTcp 1.0.4, if you have not already. Thanks!

[2017-02-08 23:51] jchristn commented on #5
Done, thank you for the reminder!

[2017-02-08 23:51] #5 closed

[2017-02-19 18:29] jchristn commented on #1
Hi @mzelecom  going to assume you got this resolved or no longer want me to look at this, closing it out.  Again sorry I didn't get a notification on this issue to respond sooner.  Please re-open if you'd like to revisit it.  Thanks!

[2017-02-19 18:29] #1 closed

[2017-02-23 15:05] mzelecom opened #6 "how to set TcpNoDelay true?"
Hi.
finally i can use your library in vb.net.
i used it for my game server.and i need to set TcpNoDelay to true .
how can i do that?
thanks

[2017-02-23 16:25] jchristn commented on #6
Hi @mzelecom , I'm glad to hear you can use it!  If you'd like to enable NoDelay, you can do it by modifying the constructor in WatsonTcpClient.cs after ```Client = new TcpClient()```.  However, I'm not sure that NoDelay will help, since its main purpose is to force sending segments as they are received from the app in the send buffer (rather than packing them).  WatsonTcp is already doing that fo

[2017-02-24 07:55] mzelecom commented on #6
thank for replay.
i used watsontcp just for server .my clients are android devices.
Because my packets in server sometimes very small like 'igd' and i need to send it to client Instantly.
i think tcp send buffer must full to send it to client and i must have to set NoDelay true to force it send packets.

my game server just get some data from clients and store in mysql .it has chat room and Etc.

[2017-02-24 14:58] jchristn commented on #6
Ah.  Are you implementing your clients in a way that mimics the framing used by WatsonTcp?  Both the client and server use a message framing layer which will affect what is sent over the network.

[2017-02-25 04:53] mzelecom commented on #6
i could transmit data from client and watsontcp i know the frame is 'number of bytes : message '.its work.
if my frame not true watsontcp show time out and doesn't get message.

[2017-02-26 01:19] jchristn commented on #6
Hi @mzelecom would you be willing to share the source code you're using to package the message and send?  I'm happy to take a look at it.

[2017-02-26 08:29] mzelecom commented on #6
my code in vb.(basic4android)

Sub Send(msg As String)
	Dim Buffer() As Byte
	msg= msg  & Chr(13) & Chr(10)
	Buffer = msg.GetBytes("UTF8")
	msg=Buffer.Length  & ":" & msg
	Buffer = msg.GetBytes("UTF8")
	socket.Write(Buffer)
End Sub

[2017-02-26 17:18] jchristn commented on #6
Can you try adding ```socket.Flush()``` after your call to ```socket.Write(Buffer)```?  It could be that TCP is waiting for additional data before flushing the send buffer, and what you want it to do is send the message immediately (i.e. flush the buffer).

[2017-03-01 00:01] brudo opened #7 "Feature request - async-friendly send/flush and idle/poll operations"
This is not a bug report, but a feature request. I may help implement it, on my own time, but no promises!

Currently, WatsonTcp and WatsonCluster perform nicely for the basic use case of a simple peer-to-peer cluster with limited messaging. However, internally, the library uses methods like Flush() that block the calling thread when sending messages, instead of non-blocking awaitable equivalents

[2017-03-01 07:38] brudo commented on #7
Please see my branch WatsonTcp/tree/async-to-the-core for an initial stab at this to show what I had in mind - completely untested but builds fine. When it's ready for a pull request, I'll be happy to share and collaborate on refining it.

[2017-03-01 18:08] jchristn commented on #7
This is perfect @brudo , thank you for sharing this.  Would you mind making a pull request and I'll merge it in and publish a NuGet update?  Cheers!

[2017-03-01 19:39] jchristn commented on #6
Hi @mzelecom any chance you were able to try this?

[2017-03-01 19:57] brudo commented on #7
Sure. Mind you I did not test it (could not get the tests to run - probably a problem at my end), so I really suggest putting it through its paces before you update. Also, I missed WatsonTcpClient.cs in my initial commit last night - added now. See pull request #8.

Next after this would be a change in WatsonCluster to use the async methods.

[2017-03-02 20:45] brudo commented on #7
As this is tested now, and deployed to NuGet, and working in WatsonCluster, I guess this can be closed. Thanks for accepting the changes @jchristn.

[2017-03-02 20:45] #7 closed

[2017-03-06 08:07] #6 closed

[2017-03-27 18:48] brudo opened #9 "SSL client certificate authentication?"
Can you confirm, does the new SSL support include client certificate Authentication? If so, can you document how that is configured? If not, can it be implemented as a feature request?

[2017-03-27 18:50] jchristn commented on #9
Hi @brudo yes indeed, WatsonTcp does support SSL client authentication.  I'll add an example to the README right now.  Thanks!

[2017-03-27 19:00] jchristn commented on #9
Just posted a README update.  Please let me know if this helps clarify.

[2017-03-27 20:04] brudo commented on #9
I think I see that it supports using a password-protected .pfx file, and can authenticate that the server reached by the client is using the certificate expected by the client. I was actually asking about client certificates, where the client also proves its identity to the server.

[2017-03-27 21:08] jchristn commented on #9
Hi @brudo , isn't that what this does?

[code]

[2017-03-29 21:16] brudo commented on #9
Not an expert @jchristn but I think there is more to it than that, e.g.
probably involving two certificates, and possibly checking
IsMutuallyAuthenticated after AuthenticateAsClient. If this feature doesn't
get implemented it's OK; client certificate authentication is a bit
esoteric and in many cases can be replaced with application-level
authentication over an encrypted channel...

On Mar 27, 201

[2017-03-29 21:50] jchristn commented on #9
Hi @brudo I think I see what you mean.  From what I gather, AuthenticateAsClient will start authentication from the server side, and AuthenticateAsServer will start authentication from the server side, but it seems I may need to also check whether or not both sides of authentication succeeded (at least from what I see here: http://stackoverflow.com/questions/13667018/sslstream-mutual-authenticatio

[2017-03-29 22:18] jchristn commented on #9
Hi @brudo just added this and updated NuGet to v1.1.2.  It added a constructor change to both WatsonTcpSslClient and WatsonTcpSslServer, so I left v1.1.1 in NuGet as well.  Please let me know if you agree with the changes!

[2017-03-30 19:54] jchristn commented on #9
Closing - feel free to re-open if any issues!

[2017-03-30 19:54] #9 closed

[2017-04-01 04:42] brudo commented on #9
Thanks very much. I think that does it although as I said I'm no expert.

[2017-09-16 04:43] ellLazar opened #10 "testServer send string from external client MessageReceived not fired"
Hello,
testserver,

tried to send string from external application , to testServer on same  local pc
the MessageReceived not fired

the connect and disconnect from client side where detected correctly

[2017-09-16 05:03] jchristn commented on #10
Hi @ellLazar please share your code so I can take a look.  Thanks!

[2017-09-16 05:15] ellLazar commented on #10
I tested my client code with other C# TCP server I got also from github,
the send receive string where ok.
but the disconnect implementation did not work, there for I tried yours.
anyway my code is very simple :
 use device Write "ABCD Line 1",!
...
I should get it on server side.

[2017-09-16 05:18] jchristn commented on #10
Hi @ellLazar there is no flush character, WatsonTcp takes care of the flush and message framing for you.  Please post a gist with the actual code so I can test it on my side.  Thanks!

[2017-09-16 05:21] ellLazar commented on #10
the language I use in client is not C# , it's called Cache intersystems
the connect/disconnect tests I made worked ok with your code,
what remain just to send the string, the serv er accept string ? or maybe stream ?

[2017-09-16 05:34] jchristn commented on #10
Oh, that explains it.  WatsonTcp has its own framing mechanism, so you'd need to use WatsonTcp for both the client and the server.  The messages come through with the structure len:data where len is an integer, followed by a colon, then the data as a byte array.  So, "Hello World!" would be sent over the wire as 12:Hello World!  That's why it won't work with a regular TCP client unless you add the

[2017-09-16 05:34] #10 closed

[2017-09-16 06:17] ellLazar commented on #10
ok now I get response
use device write "12:Hello World!",!
please note on the ! char without it the server don't get the message
now I got in server side:
*** MessageReadAsync malformed message from 127.0.0.1:13293 (message header not an integer)
i made also 13: ... to include the ! flush, but got same message

[2017-09-16 11:13] jchristn commented on #10
I'd need to see a packet capture of what is on the wire to determine what your TCP client is sending exactly.  Thanks

[2017-10-24 09:12] ygl-rg opened #11 "Is it scalable?"
Hi. I am interested in this lib. I want to know whether it is capable to server 10K+ connections?

Thanks

[2017-10-24 14:57] jchristn commented on #11
Hi @ygl-rg , I've never tested it to that scale.  I've tested to dozens and it was fine.  If you happen to test it to scale, let us know your results!

[2017-10-24 14:57] #11 closed

[2017-12-21 11:54] mdawood1991 opened #12 "how many connections can this handle simultaneously"
Hi,

If yes, how many max connections can this handle simultaneously?

Because currently I have a TCP server developed using SuperSocket.NET. But having issues in sending Acknowledgement's to the devices.

So if I use this library, how many requests can it handle?

Thanks

[2017-12-21 13:17] mdawood1991 commented on #11
@ygl-rg  how did you testing go?

[2017-12-21 15:50] jchristn commented on #12
Hi @mdawood1991 , I've never tested it to scale beyond dozens of connections.  It would be straight forward to write a test program that spawns thousands of long-lived client threads.  Cheers

[2017-12-26 10:04] ygl-rg commented on #11
@mdawood1991 I haven't got time to test yet.

[2017-12-27 10:59] MrMikeJJ opened #13 "Server rejects new connections after a bad connect"
Hi,
After a bad connect, the server rejects all new connections. This can be replicated by using the SSL server and then connecting to it with putty.
Simple fix though :)

Replace all the occurrences of  "return" with "continue" in the while loop of AcceptConnections.
thanks
Mike

[2017-12-28 15:38] MrMikeJJ commented on #13
Still had issues with the SSL version getting stuck while waiting for a connection to finish - which would never finish.
Resolved by changing AuthenticateAsServer to BeginAuthenticateAsServer :)

[2017-12-30 00:28] jchristn commented on #13
Thanks @MrMikeJJ for both of these, I'll incorporate now and update Github and Nuget both!

[2017-12-30 00:31] jchristn commented on #13
Hi @MrMikeJJ for the BeginAuthenticateAsServer, can you submit a pull request?  I'd like to see your implementation.  Thanks!

[2017-12-30 08:07] MrMikeJJ commented on #13
Sure. Will be a few days though, i will have to redo this without the other changes which I did for my use case. And won't be near the computer I did this on until Tuesday.

[2018-01-11 21:22] MrMikeJJ commented on #13
This was fixed with the pull requests :)

[2018-01-11 21:22] #13 closed

[2018-01-21 16:47] TheAifam5 opened #23 "Support for .NET Core, .NET Standard and other"
Hey,
I tested your library - is perfect and I love it (on .NET Core)
Because I am on work PC, i can't make a pull request for you :(

Would be nice to add other framework support.

Regards,
TheAifam5

[2018-02-24 07:02] diskshared opened #24 "How to stop the server?"
hey. In my opinion, the Dispose method should
1) Disconnect all clients
2) Close the TcpListener

but it's not like that

[2018-02-24 17:29] jchristn commented on #24
Hi @diskshared I amended the Dispose method on the server to call Dispose on each of the connected clients.  I'll update NuGet as well.  On the earlier question, are you submitting data via telnet using the appropriate framing, i.e. instead of sending "Hello" are yo sending "5:Hello"?

[2018-02-24 17:29] #24 closed

[2018-02-24 17:35] jchristn commented on #24
https://github.com/jchristn/WatsonTcp/commit/52de1d4641ec03ab90c80075165979650afd68b7

[2018-02-24 17:35] #12 closed

[2018-02-24 17:36] jchristn commented on #23
Hi @TheAifam5 not sure why I didn't get a notification on this, but thank you for your comments!  Which other frameworks would you like it to support?

[2018-02-24 19:57] diskshared commented on #24
Thanks for the quick response)
All customers are disconnected, it's good.
What about TcpListener?

You bind the address
`_Listener = new TcpListener (_ListenerIpAddress, _ListenerPort);`

After the end of the server, it must be freed
`_Listener.Close ();`

About telnet, I realized what was my mistake when I looked at the server code more carefully)

[2018-02-25 23:29] jchristn commented on #24
Good call, fixed!  https://github.com/jchristn/WatsonTcp/commit/9a6e87c97fc7569f73cd561268a2d024d37eeeee

[2018-06-07 02:08] zellkennedy opened #25 "Client Disconnection"
Hey! Excellent project. I just want to get a question. Should I create a task to check if a client is still logged in? Given that if I force the client to shut down the server does not detect the disconnect.

[2018-06-07 02:38] jchristn commented on #25
Hi @zellkennedy the library should be detecting disconnection almost immediately.  How are you disconnecting the client?  Any info on how to reproduce would be helpful; I've used the manual disconnection method in the test project as well as simple ctrl-c to kill an endpoint.  Thanks

[2018-06-07 03:53] zellkennedy commented on #25
A thousand excuses, it was a mistake on my part. As you said actually this check is already being done.

[2018-06-07 03:54] #25 closed

[2018-06-07 04:14] jchristn commented on #25
No sweat my friend, thanks for using the library :)

[2018-07-01 03:27] #23 closed, assigned to nobody

[2019-03-06 22:21] pmeloy opened #26 "How do disconnect from client?"
The examples simply quit and looking through the source I couldn't find a disconnect method. How should a client disconnect? I've used client.dispose() which does the job apparently but it doesn't really seem elegant.

[2019-03-06 22:39] jchristn commented on #26
Hi @pmeloy - the Dispose method will close the stream (if open), close the socket, and then destroy any background tasks.  Was there another teardown type function that you would want Dispose to do?  Cheers

[2019-03-07 06:53] pmeloy commented on #26
Well if dispose() is the official way then I guess that's the way.

[2019-03-07 15:18] jchristn commented on #26
Yes - best to encapsulate the client into a using statement or manually call dispose when done. Cheers

[2019-03-07 15:18] #26 closed

[2019-03-25 13:16] SaddamBInSyed opened #27 "Message is not received fully"
When I sent a xml file from telnet then i am not receiving the data in the TCP server side.

Then i checked the code and came to know that THIS TCP SERVER CODE ONLY WORK WITH WATSON TCP CLIENT.

Is there any way to use this WaTSON TCP SERVER code with outside work TCP client apps ( telnet, tera term other TCP client code?

please advise..

[2019-03-25 14:04] jchristn commented on #27
Hi @SaddamBInSyed - the reason for this is that TCP provides no message framing whatsoever.  The whole purpose of this project is to provide a client and server that provide message level delivery.  TCP on its own doesn't do that, it's simply a stream and is unaware of message boundaries.  Watson encapsulates messages into a structure so that the client and server apps don't have to be concerned w

[2019-03-25 14:04] #27 closed

[2019-03-26 06:42] SaddamBInSyed commented on #27
Thank for valuable advice.

[2019-05-16 13:32] BadNiiw opened #28 "How to get the ipPort of client"
Hi,

thanks for this project. It works well.
Only one thing is how can I get the ipPort value of client which send me the message ?
In message received event I only have the data and I dont want to transfer this ipPort in the data[]

[2019-05-16 14:06] jchristn commented on #28
Hi @BadNiiw , thank you for your feedback.  In the ```WatsonTcpClient```, the callback ```public Func<byte[], bool> MessageReceived = null;``` always comes from the server.  In the ```WatsonTcpServer```, the callback ```public Func<string, byte[], bool> MessageReceived = null;``` always includes the client's IP:port.  The string value in that method should never be sent to your application as null

[2019-05-16 18:05] jchristn commented on #28
BTW - @BadNiiw - are you looking to have multiple clients connected to the server, and then relay the incoming messages on the server to other clients (like a chat app)?  If so you'd need to encapsulate the sender/recipient information into the data sent to the server anyway.  Cheers

[2019-05-17 20:33] jchristn commented on #28
Please reopen if this doesn't address the concern.  Thanks

[2019-05-17 20:33] #28 closed

[2019-05-20 10:52] BadNiiw commented on #28
@jchristn Hey, thank you for you replies. What do you think is the best way of encapsulating ? Serialize and Deserialize ?

[2019-05-20 14:11] jchristn commented on #28
Hi @BadNiiw - yes I think that's the best approach.  Off the top of my head it would involve:
- a new Message class, containing sender/recipient/data
- encapsulating the client Send methods to create a Message object, serialize, and send
- encapsulating the client MessageReceived methods to deserialize into a Message object
- modifying the server code to automatically send messages to the recipien

[2019-05-20 14:31] BadNiiw commented on #28
@jchristn I'm writing a 2D app which can handle multiple players in real time (for e.g: agar.io) but I'm not sure pub/sub is the best for this. What do you think?

[2019-05-20 15:04] jchristn commented on #28
Great question.  It gets hard/unruly if you try to do direct/mesh connections with too many clients.  Pub/sub may be the easiest.  You can also try watsonmesh (which uses watsontcp).  Watsonmesh has a broadcast function which goes to the entire mesh network.  The only issue I think you'll face there is that each client is also a server.  If you're trying to avoid running a server instance on each

[2019-07-09 12:36] MrMikeJJ opened #29 "Different TargetFrameworks"
Hi,
I was looking at this project again, came across an inconsistancy, just wanted to make you aware of it.

All the original projects target
netstandard2.0 and net452

The new test projects - TestServerStream and TestClientStream target
netcoreapp2.2

On a separate note, i have applied a some of the Roslyn, FxCopAnalyzers and StyleCop.Analyzers to my branch of this and a few other things. Can sen

[2019-07-11 14:53] jchristn commented on #29
Thank you @MrMikeJJ - sorry for the delay in getting back to you, I was out of the country.  I will add this to the list and really appreciate your help!  Cheers, Joel

[2019-07-14 01:44] jchristn commented on #29
Haven't forgotten about this @MrMikeJJ - just buried on another project that I'm adding some features on, hope to get to these this week.  Cheers

[2019-07-15 22:29] MrMikeJJ commented on #29
No worries, hope you had a nice time while you were out of the country. :)
Got a few more changes coming soon as well hopefully :)

[2019-07-18 22:28] jchristn commented on #29
Hi @MrMikeJJ I noticed in your PR after I merged into master that in WatsonTcpClient.cs, ```private ClientMetadata _Server``` is never initialized.  Do you see this on your end?

[2019-07-18 22:34] jchristn commented on #29
WatsonTcpClient.cs
From your PR: https://github.com/jchristn/WatsonTcp/blob/947eb966e7f78faca41d1edbf2804316c22f45df/WatsonTcp/WatsonTcpClient.cs

From before:
https://github.com/jchristn/WatsonTcp/blob/1b7153fb135ebcaaaea58db85844050e77289be3/WatsonTcp/WatsonTcpClient.cs

It looks like the streams etc were collapsed into ClientMetadata, but ClientMetadata was never initialized.

Out of curiosity

[2019-07-18 22:36] jchristn commented on #29
Sorry for blowing up your email, it looks like this one may not have been included in the PR, because you clearly did initialize it: https://github.com/jchristn/WatsonTcp/commit/eba86a1b90ecdc9a1e997b194dcbadee08dff200

[2019-07-18 22:45] MrMikeJJ commented on #29
No worries, sorry for not replying, it nearly midnight and I am drunk from works summer party (with a free bar!). A bit weird how it didn't pull that one in.

Got a few more chages to send through, probably Saturday. While I was looking through, I was thinking I can chuck all the send messages functions into the clientmetadata class, so they aren't duplicated (and virtually identical) between the

[2019-07-18 22:45] jchristn commented on #29
Haha nice!  Hope you enjoyed the party.  Will wait for the next PR :)  Cheers

[2019-07-20 22:06] MrMikeJJ commented on #29
I see my fail now i am sober, line 250 shouldn't have had ClientMetadata at the front of it. (facepalm)

[2019-07-20 23:06] jchristn commented on #29
LOL love it.  Would you be willing to send a PR with all of the changes integrated?  Everything looks pretty good, I was going to go through them one by one until I found the missed commit, but there were quite a few small ones and it would have taken forever.  Hope you're having a great weekend!

[2019-07-20 23:19] MrMikeJJ commented on #29
Sure, will do. I had an idea I wanted to run past you, just feels strange putting it in a bug report...

So the Server class makes a Watson message, then passes that through all the send functions. The data[] sender converts the data into a memory stream. So I was thinking about making Watson message do that conversion & storing the memory steam. And then read content length and  steam out of the

[2019-08-12 19:33] jchristn commented on #29
Hi @MrMikeJJ any update on this one?  Cheers

[2019-08-17 16:36] #29 closed

[2019-09-07 21:56] mikkleini opened #31 "Client connection doesn't close at server side"
When client disconnects some client worker thread stays working with 100% load in WatsonTcpServer. If i disconnect four times on my 4-core PC then my CPU load goes 100%.

VS thread debug window shows that those threads are here:
System.Net.Sockets.dll!System.Net.Sockets.SocketAsyncEventArgs.DoOperationReceiveSingleBuffer

Server ClientDisconnected event/callback isn't firing either.
Client is Wats

[2019-09-07 23:33] jchristn commented on #31
Hi @mikkleini ouch, well that's clearly a problem!  I'll take a look ASAP.  Thanks for letting me know.

[2019-09-07 23:40] jchristn commented on #31
By the way, are you on .NET Framework or .NET Core?  Version?  Which OS?

[2019-09-07 23:55] jchristn commented on #31
Thanks, I've reproduced the issue and am looking into it.  ```Dispose``` seems to be doing what it needs to do, but the connection lingers in FIN_WAIT_2.
[code]

[2019-09-08 01:18] jchristn commented on #31
Hi @mikkleini just a heads-up, it seems that non-graceful termination of the client is fine (i.e. ctrl-c) but graceful termination (through dispose) was problematic.  For some reason, the client sends the RST but the server isn't handling it.  I couldn't figure out why.  I'm going to dig into it more.

In the meantime, I've added something of a workaround.  Now, when you dispose, the client will s

[2019-09-08 01:28] jchristn commented on #31
Closing this now.

Updated NuGet v2.0.3: https://www.nuget.org/packages/WatsonTcp/2.0.3

Commit: https://github.com/jchristn/WatsonTcp/commit/4146fea327e003e7e2c10f4519e058c238fa5c36

Thanks again!

[2019-09-08 07:50] mikkleini commented on #31
That's quick response! :) Even better than some commercial support.

I use WatsonTcpServer on .NET Core 3.0 (preview 8) application (Windows and Linux) and WatsonTcpClient on .NET Framework 4.8 (Windows).

I tested:
WatsonTcpServer v2.0.4 and WatsonTcpClient v2.0.2 - problem still exists.
WatsonTcpServer v2.0.4 and WatsonTcpClient v2.0.4 - no problem anymore.

Well, it's better but IMHO the server

[2019-09-08 15:45] jchristn commented on #31
Hi @mikkleini glad to be of assistance and thanks for the details.  I'm glad 2.0.4 does not exhibit the issue you were encountering previously.

I agree there is a lot more to do, and can understand why it is particularly worrisome in your use case.  The fix I implemented (sending a disconnection notice message) on graceful shutdown solves the issue, but not to my satisfaction either.

I had spent

[2019-09-08 16:02] mikkleini commented on #31
Hi @jchristn , i understand it's probably not easy to implement all the use cases. That's why i picked  off-the-shelf TCP server-client library to avoid doing and failing to do it myself ;) No promises but i can take a look at the issue also...

[2019-09-08 16:10] jchristn commented on #31
Would love that.  I'm in the midst of trying to come up with a similar solution to a lower-level derivative package called SimpleTcp (built using the guts of Watson) which doesn't have a framing layer meaning the message/notification-based solution wouldn't work.  I'm going to be testing various scenarios with Wireshark to see if I can replicate the behavior found when forcefully killing the clien

[2019-09-08 16:24] mikkleini commented on #31
Found similar issues:
- https://social.msdn.microsoft.com/Forums/en-US/ac8ecec6-1e1a-4808-8dbe-475d23d16942/socketsnetworkstreamread-no-exception-generated-if-client-disconnects-because-its-network-fails?forum=ncl
- https://social.msdn.microsoft.com/Forums/en-US/5db36479-ab40-40b1-8fc3-d0baf42849d5/detecting-disconnected-sockets?forum=netfxnetcom
 - https://stackoverflow.com/questions/31322716/tcp

[2019-09-08 16:42] jchristn commented on #31
Thanks, the first link is interesting.  WatsonTcp had the reverse issue - i.e. it could detect abrupt disconnects (termination, etc) but not graceful ones (dispose).  Will dig into these and report back.

[2019-09-08 20:30] mikkleini commented on #31
First i believe i found the reason for 100% CPU load: It's the receive loop in the ReadFromNetwork function in WatsonMessage.cs which stucks when _NetworkStream.ReadAsync continues to return zeroes immediately after connection has dropped (and does not throw any exception). So i did one tiny update which seemed to solve the whole case:

[code]

Even the simple "else" works.

It doesn't screw up no

[2019-09-08 21:00] jchristn commented on #31
Thank you for sending this. I isolated a lot of the code and logic into a separate project and had both graceful and non-graceful cases working for both client and server.

But I had to leave for a family event before I could get it committed and pushed. I should have it pushed here tonight: https://github.com/jchristn/tcptest

I really appreciate you taking the time to analyze this and will get o

[2019-09-09 00:45] jchristn commented on #31
Hi @mikkleini just posted to the repo: https://github.com/jchristn/TcpTest

Will be back on this in a few hours.  If you have a moment, would you mind trying out the client and test in this repo and make sure they behave the way you expect out of WatsonTcp?

[2019-09-09 23:10] jchristn commented on #31
Hi @mikkleini your fix was perfect.  I incorporated this into TcpTest as well as SimpleTcp, along with a bunch of other fixes.  I'm now working on this for WatsonTcp and BigQ.

The five test gold standard to which I'm aiming (table taken from TcpTest and SimpleTest README):

| Test case | Description | Pass/Fail |
|---|---|---|
| Server-side dispose | Graceful termination of all client connections

[2019-09-10 00:04] jchristn commented on #31
Hello again @mikkleini I think we should be in good shape now.  Please refer to commit https://github.com/jchristn/WatsonTcp/commit/468405c55af6e727ea04768b0a10599c947df9f0 and the updated NuGet package for v2.0.5 here: https://www.nuget.org/packages/WatsonTcp/2.0.5

It's passing my disconnect tests per the above table and I think it's in a much better place, thanks to you.  If everything looks go

[2019-09-11 17:59] jchristn commented on #31
Hi @mikkleini - closing this now, please reopen if an issue still exists.  Cheers

[2019-09-11 17:59] #31 closed

[2019-09-13 19:49] mikkleini commented on #31
Thanks @jchristn , it works well now!

[2019-09-17 14:35] pha3z opened #32 "Start() is fire and forget?"
client.Start() is void Fire-and-Forget synchronous style.

What happens if the client throws an exception?  It looks like the exception will not reach the main execution thread.

[2019-09-17 15:21] jchristn commented on #32
Hi @pha3z, if there is an exception during ```Start()``` it is caught and thrown (which would make it to the caller).  Is there a different pattern you would recommend?

[code]

[2019-09-17 16:52] pha3z commented on #32
It's hard to say without knowing the internals of the system.  After start is called, what happens? Does it fire a background worker or something?

Can you update your example code to show Start() wrapped in an exception? Right now there isn't any way to know Start() will throw exceptions or what may cause them.

I do *not* consider myself anywhere close to expert on async/await and especially on

[2019-09-17 16:58] pha3z commented on #32
For what it's worth... I wrap most libraries I use in custom interfaces to abstract them.  This provides a good exercise in comparing the "handlebars" on different libraries.  Here is how I currently implemented the Watson Start method:

`/// <summary>
/// Connects to remote host and begins listening for events
/// </summary>
public async Task ConnectAndRunAsync(CancellationToken ct)
{
    if (_cl

[2019-09-17 17:20] jchristn commented on #32
Hi @pha3z thanks for all of this information.

On the exceptions side, I allow the underlying TcpClient exceptions to propagate back to the caller.  WatsonTcp doesn't have its own exceptions or anything of that sort.  Typically this results in a SocketException.  In general you shouldn't encounter an ObjectDisposedException, ArgumentNullException, etc, since the constructor and Start method sets u

[2019-09-17 17:31] pha3z commented on #32
I'll contemplate this more when I get a moment. My immediate question is what happens after Start()? It's apparently launching a background worker or something of that sort.

I'm trying to understand the exception implications of this pattern. What happens if an exception occurs after start returns? Is it just swallowed up and lost?

[2019-09-17 19:03] jchristn commented on #32
After a successful Start(), exceptions would occur generally only in DataReceiver.  Should an exception be encountered there, the ```ServerDisconnected``` callback would be invoked, and the client would be disposed.  The callback is there to notify the consuming application that the client needs to be reinstantiated and restarted.

[2019-09-17 20:02] pha3z commented on #32
Ok, so ServerDisconnected should always be invoked if an exception occurs during execution on an established connection.  That is a very important note.  Would be good to put that in the XML Comment for the library and mention that in the example code.

The expectations of my implementation already match well with the described behavior. Presently, I'm setting an IsRunning flag to false in the Ser

[2019-09-17 20:10] pha3z commented on #32
Now that I take all this into consideration and re-examine my code, I see there are bugs in the code I posted.

I made the assumption that I could call Start() on a disconnected client.  That won't always work because the client may have been disposed.  I need to recreate the client to reconnect.

[2019-09-17 20:19] pha3z commented on #32
FYI, here is my updated code:

[code]

[2019-09-17 21:26] pha3z commented on #32
After extensive investigation, I think I actually like the Fire-and-Forget style *better* than an Async() approach.  Even though some people argue that Fire-and-Forget is an anti-pattern, using Async for long-running background tasks creates it own problem.

There's a relevant SO discussion on it here:
https://stackoverflow.com/questions/15522900/how-to-safely-call-an-async-method-in-c-sharp-witho

[2019-09-17 21:46] jchristn commented on #32
Hi @pha3z thank you for all the feedback and comments.

I do have XML comments for the public methods and members, are they not showing up for you?  If not, I need to do something about that straight away (and for the other libraries too!)  When I upload these, I upload NuGet packages containing release builds (not sure if that makes a difference?)

![image](https://user-images.githubusercontent.c

[2019-09-17 21:56] pha3z commented on #32
Quoting Joel:

Yeah... _some_ people argue its an anti-pattern.  Rather than calling it an anti-pattern outright, it's better to understand _why_ it may be frowned upon:

To quote Stephen Cleary:

Calling Start() in the current manner *gives the appearance* that it just happens magically and you don't need to care what happens afterward.

For the sake of your library, we do in fact care and we are

[2019-09-17 22:00] pha3z commented on #32
Final thought:  I wouldn't worry too much about changing the way it works.  If nobody is reporting problems and its working, don't fix what ain't broke. :)  Just clarify in the docs how to deal with exceptions/failures. :)

[2019-09-17 23:40] jchristn commented on #32
Thanks @pha3z - definitely have this on my list.  Closing this issue.  Please let me know if you find anything that doesn't work to your satisfaction!  Cheers Joel

[2019-09-17 23:40] #32 closed

[2019-09-18 01:13] pha3z commented on #32
No problem.  I really appreciate the library. :)  Great work on it!

[2019-09-18 01:17] pha3z opened #33 "Intellisense not showing Comments"
I had mentioned this on the other discussion, but I'm just adding it here as an item for you to look into.

I double-checked.  I've added Watson via Nuget, and Intellisense comments don't show up for any of the Watson types or methods.   Other Nuget libraries in my project seems to be working fine.

[2019-09-19 01:07] jchristn commented on #33
Hi @pha3z - thanks for doing this.  I believe I've resolved it with the latest NuGet update.  It turns out I neglected to check the box next to "XML documentation file" in project properties - build.  Closing this now, please reopen if this doesn't resolve the issue!

(time to now fix this for every other project!)

[2019-09-19 01:07] #33 closed

[2019-09-19 14:27] pha3z opened #34 "What does SendAsync() actually do?"
Now that I've had to do a lot of digging on the implications of Async(), I've got more questions.

According to the MSDN doc on TcpClient, all you need to do to send data is write to the NetworkStream.  The document does not explicitly state this...BUT: that *should* be a non-blocking operation, because the client itself should be reading on a separate thread.

That being said... what value is the

[2019-09-19 14:35] pha3z commented on #33
Confirmation: Yes this is fixed now.  :)  Thank you!

[2019-09-19 15:01] jchristn commented on #34
Hi James, yes indeed, reads and writes are happening on separate threads.  There's a lock to ensure multiple threads aren't writing concurrently (I know that wasn't part of your question).  Yes you are correct, Watson will manage writing to the underlying network stream on your behalf.

There are a couple of reasons for having ```Send``` and ```SendAsync```.

The first is easy and low-hanging frui

[2019-09-19 22:45] #34 closed

[2019-09-22 03:02] pha3z commented on #34
Wow.  I didn't see any of these issues mentioned in NetworkStream.Write.   Well I will definitely use SendAsync().  Thank you!

[2019-09-22 12:21] mikkleini opened #35 "Bit unclear how to connect from another PC"
Hi @jchristn . I have one documentation suggestion. It's not very clear how to setup WatsonTcpServer so it can be connected by external clients (not just localhost clients). For that a null or string.Empty has to be used as listenerIp argument in constructor.
But maybe write it in the examples and add it to the constructor comment?

At least on Linux (RPi) if i use "127.0.0.1" then i can't connect

[2019-09-22 16:26] jchristn commented on #35
Hi @mikkleini great suggestion!  How about this for the documentation?
[code]

Yes - if you listen on localhost it will only bind to the localhost adapter, and not any other interface (such as Ethernet).  You can also try '0.0.0.0' or '+' or '*' - for Linux, one of those should represent 'any address'.

[2019-09-22 16:34] jchristn commented on #35
Also updated the README with this section:
[code]

NuGet v2.0.7 is processing with the aforementioned constructor documentation change!

[2019-09-22 16:34] #35 closed

[2019-09-23 07:01] mikkleini commented on #35
Perfect!

[2019-09-25 09:38] csalat opened #36 "Can you add StartAsync() method"
Hello Joel!

Can you add StartAsync() method as I would like to use watson from an async environment.
Nowadays, I need to use await Task.Run(()-> WatsonTcp()) ...

for example:
public Task StartAsync()
        {
            if (_Mode == Mode.Tcp)
            {
                Log("Watson TCP server starting on " + _ListenerIp + ":" + _ListenerPort);
            }
            else if (_Mode == Mode

[2019-09-25 13:59] jchristn commented on #36
Will do @csalat :) stay tuned.

[2019-09-25 14:20] jchristn commented on #36
Hi @csalat just pushed v2.0.8 to NuGet, should only take a few minutes: https://www.nuget.org/packages/WatsonTcp/2.0.8

Please re-open let me know if this is not the intended behavior.

Commit can be found here: https://github.com/jchristn/WatsonTcp/commit/2df41a5a28eb2befca694c9b87a5627c3b7e416a

Cheers, Joel

[2019-09-25 14:20] #36 closed

[2019-09-25 15:18] csalat commented on #36
thx, it was quick!

[2019-09-30 18:27] pha3z opened #37 "Feature request: Disconnect Idle Clients"
I think this is a standard base-level feature you'd want in any TCP Server.  I'm implementing this in my own abstraction for Watson.  It'd be nice if it was just built-in.

Suggested implementation:
Consumer configures Watson Server with a ClientMaximumIdle time and if no data is received from a client for that period of time, server disconnects the client.

[2019-09-30 19:38] pha3z opened #38 "Handlebars Request: Remove "ReadDataStream""
It would be very nice to remove ReadDataStream as public property.
Let the consumer just set StreamReceived or MessageReceived events.

In the setter for the events, you can change whatever field is represented by ReadDataStream so the internal operation remains the same.

Also, if you want to only allow StreamReceived and MessageReceived events to be used mutually exclusively, you can handle that

[2019-09-30 19:42] pha3z commented on #37
Further notes:
If you decide to implement this, I would suggest using a dictionary of Stopwatches keyed on ipPort string (or whatever construct you're using internally to key your clients).
All you have to do is reset the correct stopwatch each time data is received from a client.
And every couple of second, you can scan the dictionary for clients with a stopwatch.ElapsedMilliseconds that exceed t

[2019-09-30 19:52] pha3z opened #39 "MessageReceived and StreamReceived share the same Comment"
StreamReceived says "Method to call when a message is received..."
The MessageReceived comment says the same thing.

Need a clear technical difference to know which one to use.

Does streamreceived fire as soon as a single byte is received?
Does it fire when a single packet is fully received?
Does it fire when an entire frame is received?
etc.

And what about Message?

[2019-10-01 00:08] jchristn commented on #39
Hi @pha3z thanks for filing these issues.

```MessageReceived``` and ```StreamReceived``` are used based on whether or not you want to interact with the message data using a byte array or using a stream (and content length).  The primary purpose of having a stream variant is that some library users are passing large objects and it would be horribly inefficient to put the entirety of the message pa

[2019-10-01 00:08] jchristn commented on #38
I agree, this is an area where the library can be simplified.  Working on these issues now.  Thanks for the feedback.

[2019-10-01 00:35] jchristn commented on #39
Fixed in v2.1.0.

NuGet: https://www.nuget.org/packages/WatsonTcp/2.1.0

Commit: https://github.com/jchristn/WatsonTcp/commit/4000e15b3f8383401f11fe819ba5afa005366170

[2019-10-01 00:35] #39 closed

[2019-10-01 00:35] jchristn commented on #38
Fixed in v2.1.0.

NuGet: https://www.nuget.org/packages/WatsonTcp/2.1.0

Commit: https://github.com/jchristn/WatsonTcp/commit/4000e15b3f8383401f11fe819ba5afa005366170

[2019-10-01 00:35] #38 closed

[2019-10-01 00:36] jchristn commented on #37
Thanks @pha3z will add this one to my list.  If you'd like to submit a PR I'd be happy to review.  Otherwise I'll get on this as I can.  Cheers!  Joel

[2019-10-01 03:38] jchristn commented on #37
Hi @pha3z I had a few minutes and decided to knock this out.  Thanks for the excellent suggestion!  Also added a note of thanks to you in the project README.

NuGet: https://www.nuget.org/packages/WatsonTcp/2.1.1

Commit: https://github.com/jchristn/WatsonTcp/commit/7332681338bca5524bba3c53439b3827f0cdc002

Closing this issue, please let me know if you see an issue with the implementation, and ple

[2019-10-01 03:38] #37 closed

[2019-10-01 15:27] pha3z commented on #39
Thanks, Chris! This piece you added to the doc is also highly appreciated:

`It is important to note that when using StreamReceived, the socket is blocked until you have fully read the stream and control has returned from your consuming application back to WatsonTcp.`

Thanks!

[2019-10-01 16:17] jchristn commented on #37
Yes, ClientDisconnected will still fire.

Sending a message resets the timeout because there could be use cases where the communication is largely one-way, i.e. streaming updates to the client without any kind of acknowledgement.

Tell me more about your use case?  I'm open to changing it to only resetting when receiving messages from the client - I just don't want this to be too restrictive.

[2019-10-01 17:10] pha3z commented on #37
If the server doesn't know whether the client is even listening or getting the messages, then why would it make sense to keep sending messages? You could create a scenario where the server is just sending data over the network to nobody on the other end.  Just wasting bandwidth and system resources.

Ensuring that the client is still present is the job of a KeepAlive pattern. The implementor (cons

[2019-10-01 18:04] jchristn commented on #37
Your point makes sense about not using an idle disconnect if it's largely one way communication.  It makes sense to remove the timeout reset upon send, and only keep it on receive.

On the issue of keepalives, I built it in such a way that disconnects (intended, catastrophic) are detected immediately, meaning you shouldn't need to do keepalives except as a means of acknowledgement.

I'll amend thi

[2019-10-01 18:10] jchristn commented on #37
Change implemented @pha3z - thanks for the info.

NuGet: https://www.nuget.org/packages/WatsonTcp/2.1.2

Commit: https://github.com/jchristn/WatsonTcp/commit/03aa51b2d1671c5777aae9d73006c8c49407346d

[2019-10-01 22:34] pha3z commented on #37
"On the issue of keepalives, I built it in such a way that disconnects (intended, catastrophic) are detected immediately, meaning you shouldn't need to do over-the-top keepalives except as a means of acknowledgement."

I'm not 100% sure I have the same understanding of a KeepAlive as you.

My concept of the simplest KeepAlive is the client periodically sending something to the server just so the s

[2019-10-01 22:38] jchristn commented on #37
We're on the same page.  A keepalive would be the client periodically saying 'hello' (or similar) to notify the server that it is still there.  A heartbeat of sorts.  Not planning to add over-the-top keepalives into Watson directly though, since my design goal is to avoid having to use them.  Cheers

[2019-10-01 22:45] pha3z commented on #37
Ok, cool.  Thanks for the great work! :D

[2019-10-02 16:59] pha3z opened #40 "Feature request: Disconnect Reason"
So the idle disconnect appears to be working. :) :)

Shown here, server running in top window and client in bottom window.  Client is using my own autoReconnect logic.

![image](https://user-images.githubusercontent.com/2966966/66064689-84631e00-e50b-11e9-850e-116b59f4bbac.png)

But, now that I see it in operation, on the server side it's disconcerting to not know WHY a client disconnected. Most a

[2019-10-02 23:44] jchristn commented on #40
This is an excellent enhancement request and I love the idea.

The challenge is that all of the disconnect logic is inside the DataReceiver task that is kicked off for each client.  It doesn't have any context as to 'why' the client has been disconnected (i.e. kicked, timed out, disconnected, etc), so to integrate this might be a bit of effort.

I'll keep it in mind for the future as I will inevit

[2019-10-04 19:20] csalat opened #41 "Performance question"
Hello,

Could you or someone else post a performance documentation. I am about to go prod, and kinda unable to reproduce the expected load. Nothing fancy, like "average payload size is x, with y connection per sec is okay, no drama,
usual response time is z, above ... we started to have problems" or something like this.

Thank you in advance,
Csaba

[2019-10-04 21:27] jchristn commented on #41
Hi Csaba, I haven’t done any testing of that sort yet but over the weekend I’ll try to put something together. It has been on my list so thank you for the reminder and the push :)

[2019-10-05 02:39] jchristn commented on #41
Not ready to publish an update, but here's where I am on a throughput test with single client with configurable message size and number of messages.

64-byte messages
[code]

256-byte messages
[code]

1024-byte messages:
[code]

4096-byte messages:
[code]

65536-byte messages
[code]

I'll be building out the rest of the test project to include spawning multiple clients and will publish to Github o

[2019-10-05 04:58] jchristn commented on #41
Just a quick follow-up on this - I'm going to commit the update once I get better WiFi (I'm in a place with no cellular service and spotty WiFi for the weekend).

Throughput scales with additional clients.  See below results for single multi-client tests.

4 client, 256 byte messages
[code]

4 client, 1024 byte messages
[code]

4 client, 16384 byte messages
[code]

16 client, 256 byte messages
[co

[2019-10-05 05:18] jchristn commented on #41
Was finally able to get a ```git push``` to go through, please see this commit: https://github.com/jchristn/WatsonTcp/commit/18b38a1f3d213418dfcb59ec26e71dc22c901b10

The ```TestThroughput``` project is pretty basic and has a lot of holes, but it's at least (at this point) able to test single- and multi- client under reasonable conditions.  I didn't implement handling for worst-case scenarios in t

[2019-10-05 05:18] #41 closed

[2019-10-05 09:11] csalat commented on #41
thank you Joel!

[2019-10-10 00:28] jchristn commented on #40
Hi @pha3z - check it out :)

NuGet: https://www.nuget.org/packages/WatsonTcp/2.1.4
Commit: https://github.com/jchristn/WatsonTcp/commit/8f7d47589dac3a3d1c550a6a6c4a7eaaab74892f

Cheers, Joel

[2019-10-10 00:28] #40 closed

[2019-10-15 04:26] pha3z commented on #40
This is exciting!  I haven't gotten a chance to try it out yet. I will let you know as soon as I do. In the meantime, I've got another feature request, I'll post on a new thread. :)

[2019-10-19 20:28] mikkleini opened #42 "Stuck on 64KB+ data"
Hi Joel,

I hit one issue when transmitting data (messages) larger than TCP maximum (over 64KB) from server to client. It's in the same place as issue #31 . There's a while (true) loop in WatsonMessage.cs:

[code]

In my case server response (and therefore buffer.Length) is 256KB but sometimes the ReadAsync function returns less data (64KB). Basically it returns data in frames. In such case this l

[2019-10-19 20:52] jchristn commented on #42
Hi @mikkleini - testing this out now, thanks for mentioning this.  I need to maintain a counter of bytes remaining (set from the ```count``` parameter in ```Message.ReadFromNetwork``` and manage it that way instead.

[2019-10-20 00:31] jchristn commented on #42
Thanks @mikkleini !  Merged in your changes and pushed v2.1.5 to NuGet!

NuGet: https://www.nuget.org/packages/WatsonTcp/2.1.5
Commit: https://github.com/jchristn/WatsonTcp/commit/c97a29fce905871ace5895f39ffdc8fcb9c55473

[2019-10-20 00:31] #42 closed

[2019-10-21 18:18] pha3z opened #44 "ListClients() exposes a List instead of IReadOnlyCollection or IEnumerable"
I hadn't implemented usage of this yet, or I would have noticed and commented sooner.

Watson returns a List<string> when ListClients() is accessed.  This is generally not good practice for a library.  You should always return the most abstracted collection you can possibly return.

Returning a List says to the consumer "Hey, you can add items to this."  I don't think that's what you want at all.

[2019-10-22 16:06] jchristn commented on #44
Hi @pha3z I chose list because of simplicity, not because I felt it was the best practice.  I agree that the library should return something more abstracted, though I don't feel there's a concern about someone adding something to the list since it's not a settable property (unless you see somehow that it is?).

I'll "add it to the list" (pun intended) to change to IEnumerable.  Thanks for the sugg

[2019-10-22 16:25] jchristn commented on #44
Changed!

NuGet: https://www.nuget.org/packages/WatsonTcp/2.1.6
Commit: https://github.com/jchristn/WatsonTcp/commit/c7201924d04e696ffb26a51139e4227d0bbacdfe

Thanks for the suggestion again @pha3z !

[2019-10-22 16:25] #44 closed

[2019-10-23 20:50] pha3z commented on #44
Yeah... it's common for developers to return List<> just because its so darn easy to do.  But it really ends up being something you regret later if you want to change the underlying data structure.  Its probably more useful to you as the library maintainer to keep it abstracted than it is to the Consumer.  Always future-proof your code. :)

[2019-10-31 18:51] pha3z opened #45 "Empty PSH/ACK sent by client before sending actual data?"
I am attempting to use Watson Server to receive connections from a 3rd party TCP Client.

When I use Watson Client to connect to Watson Server, Data Receive events on the server work fine.  But when the 3rd-party TCP Client connects and sends data to Watson Server, Watson's Data Receive event appears to never fire.

So I got out Wireshark and noticed something different in the packet traffic.  Whe

[2019-10-31 21:15] jchristn commented on #45
Hi @pha3z is your third-party sender adhering to the framing structure used by Watson?  That's one reason that comes to mind why it might not be firing.

In terms of why there would be a PSH/ACK, this may be an artifact of how messages are sent.  First, the header is constructed and written to the underlying network stream.  Then, the stream containing the message data is written to the underlying

[2019-10-31 23:06] pha3z commented on #45
Ok.  I think Simple TCP is exactly what I need.  The 3rd party client application I'm talking to already states that it sends data in blocks where each block starts with byte prefix indicating the block length and whether or not there is another block as a continuation of the current one.  When all the blocks are put together, it constitutes a completed transaction msg.  This sounds like the "Fram

[2019-10-31 23:47] pha3z commented on #45
I'm retooling my own Tcp abstraction to support Simple Tcp.  It looks like most of the code is a pretty simple mapping to move from Watson to Simple.

But I noticed I lose the built in IdleClientTimeoutSeconds. :(  Would it be a big deal to move this feature from Watson to SimpleTcp so they both have it?

[2019-11-01 14:59] jchristn commented on #45
Nah, wouldn't be a big deal.  I'll add it to the list.  Could you open an issue/enhancement in the SimpleTcp repo so I can track it?  Thanks!  (closing this one)

[2019-11-01 14:59] #45 closed

[2019-11-02 01:24] pha3z commented on #45
Just wanted to let you know Simple TCP worked with the 3rd party client. :) All I had to do was swap out Watson for SimpleTCP, and then stuff started working correctly. Just had to do a little framing debugging and it worked. Thank you!!

[2019-11-03 10:00] ml-ls opened #46 "When server receives data"
I'm sure I am just being stupid here, but when handling byte arrays (non stream), and the server receives data, how do we respond to the client? Working off the test code I can't obviously see how server.messagereceived can ping back an "ok all good" type of message to the client.

Thanks.

[2019-11-03 14:42] jchristn commented on #46
Hi @ml-ls the short answer is that the library does not provide a facility for you to do this.  WatsonTcp is based on TCP which provides reasonable delivery guarantees, but nothing at the application layer guaranteeing delivery.  Any application-layer acknowledgements would be have to be built outside of WatsonTcp.  Thanks!

[2019-11-03 14:42] #46 closed

[2019-11-20 11:15] marekpetak opened #47 "Message received not triggered on server or client"
WatsonTcpServer never triggers/displays received data from server.

to reproduce:
1. clone project
2. open in VS, set TestServer as StartpuProject
3. run the app
4. connect client - detected by server OK
5. send message to client - WORKS
6. send message to server- does not work

[2019-11-20 11:18] marekpetak commented on #47
Same issue with client

[2019-11-20 12:21] #47 closed

[2019-11-20 15:01] jchristn commented on #47
Hi @marekpetak - I saw that you closed the issue.  I'm curious if you were using an instance of WatsonTcpClient to connect to the server, or how you resolved this?  I ran a quick test using the TestServer and TestClient projects and everything seems to be working fine.  If there's any way I can help, please let me know.  Or, if there's anything I can document better to make it easier!

Cheers,
Joe

[2019-11-20 15:15] marekpetak commented on #47
Thank you, I thave misunderstod the usage of the library, I guess it is not to be use as classic tcpip client/server.

[2019-11-20 15:25] jchristn commented on #47
Hi @marekpetak correct - that’s because of the integrated framing (which most find they have to build). If you want something that behaves like a simple TCP server check out my SimpleTcp repository and NuGet package. Might be exactly what you want.

[2019-11-20 17:36] jchristn commented on #47
BTW, here is the project: https://github.com/jchristn/SimpleTcp

And on NuGet: https://www.nuget.org/packages/SuperSimpleTcp/

[2019-11-21 08:03] marekpetak commented on #47
Thank you, using it already :)

[2019-12-21 20:16] Crushedice opened #49 "Sending additional info with stream?"
Greetings!
Ive been using WatsonTCP now for a while, and it has served me great so far.
Just started working with the new version, as mine was pretty old.

Now i got some problems, i did setup everything so far that a file transfer
client->server , works fine. My Problem is , that i have to assign all of the files their proper filename.
I tried it already with merging 2 streams together to append

[2019-12-21 20:46] jchristn commented on #49
Hi @Crushedice and happy holidays to you!

It sounds like what you need is your own data structure that could be converted to a stream and then sent. , i.e. ```[filename][null][datastream]```.  This is essentially building your own framing/messaging layer and the recipient would need to understand it and parse it.

[code]

The other side will of course need to be able to parse this.

Perhaps what

[2019-12-21 22:46] Crushedice commented on #49
Thanks for the Code snippet , im gonna definitely try that out later.
As i see , i was somewhat on the right way... but really just made a mess in my code.
So you basically put the both streams together, and set between them " 0x00 ",
Is that reliable ? I didn't worked that much with binary, streams etc before , but would imagine if the receiver would search for a 0x00 split point , he would find

[2019-12-21 23:27] jchristn commented on #49
Hi @Crushedice just a heads-up, I'm wrapping up an implementation on this now that will allow you to pass in a ```Dictionary<object, object>``` into your ```Send``` and ```SendAsync``` methods.  It will fire a different callback though, i.e. ```MessageReceivedWithMetadata``` or ```StreamReceivedWithMetadata```.  I just tested the message-based implementation (it works) and am testing the stream-ba

[2019-12-21 23:40] Crushedice commented on #49
Most definitly! Nice.

Thank you very much!

[2019-12-21 23:47] jchristn commented on #49
Hi @Crushedice let me know if you find any issues!

NuGet: https://www.nuget.org/packages/WatsonTcp/2.2.0
Commit: https://github.com/jchristn/WatsonTcp

Please re-open if any issues with the implementation!

Cheers and happy holidays

[2019-12-21 23:47] #49 closed

[2019-12-23 05:43] jchristn commented on #49
Hi @Crushedice did this work ok for you?  Cheers!

[2019-12-25 13:39] Crushedice opened #50 "Problems with setting used hooks."
Greetings.
So far it worked all fine, the new methods helped me out a lot,
Made a custom "CurrentClient" class with additional info to be send with the metadata.

But as i went to  test run the first time i got some problems. Here a small recording, - explains better then words [http://dmt.ovh/images/webm/kloyZ.webm](url)

Also . - is there any way to enable both methods?
Stream with metadata  And

[2019-12-25 18:52] jchristn commented on #50
Hi @Crushedice glad it is working for you.  The reason only one of MessageReceived and StreamReceived can be set is because it dictates whether or not Watson reads the payload from the network:

- MessageReceived - WatsonTcp reads the message payload and passes it in a byte array to the callback
- StreamReceived - WatsonTcp does not read the message payload, but passes the content length and the s

[2019-12-25 18:52] #50 closed

[2019-12-28 14:32] Crushedice opened #51 "Help with multiple uploads"
Greetings.
Ok, this is not so much of an issue then rather asking for a bit help.

So far its working all fine, also managed to find a solution for my problem with message/stream received.
( Just assigned streamreceived + streamreceivedwithmeta ) Works .

now im trying to get multiple files over ,  as i already suspected before , i dont think parallel/multi upload would work here, which is fine.
I

[2019-12-28 21:45] jchristn commented on #51
Hi @Crushedice I wouldn't ever recommend using ```.Result```.  It's a really bad practice.  Much better to use ```await```.

For the sender, you would only use ```bool success = await client.SendAsync(metadata, fss.Length, fss);```

These would have to be done sequentially since WatsonTcp establishes one unique TCP connection per instance.

[2019-12-29 01:03] Crushedice commented on #51
so i tried around the last hours again some bit ....
using a hand full of different methods.

Even tried to temp. Store the received streams in a dictionary with custom class .
but it  always looks like ( looks, cause i don't really get any exception messages for this )
that the client is just pumping every iteration of the loop on to the server, which cuts off the connection after the second / a

[2019-12-29 16:17] Crushedice commented on #51
I made a stripped version of my bigger program now to test the uploads.
If i only send 1 file it all works like it should.
So, im pretty sure that the server discards the client , the moment the client just sends all the files without the server able to catch up with it.

Wouldnt it be possible, to set the received method to not use a non async task and
return Task.CompletedTask;  at the end of th

[2019-12-30 00:10] jchristn commented on #51
Hi @Crushedice - can you reproduce the issue using one of the ```Test``` projects?  The server should never discard the client unless explicitly kicked by the admin.

[2019-12-31 05:17] jchristn commented on #51
Hi @Crushedice can you paste a sample file containing your implementation so I can test it on my end?

[2020-01-03 01:05] Crushedice commented on #51
sorry took a bit to reply.
So far i got everything working
i changed up the sending of all files just to Packing it in a zip ->
then send the one file .  A few minor bugs from my side were also causing some problems.

But so far,  all works .
Now only left is find all bugs, optimize, visual styling and real env. testing haha
Thanks for the help!

[2020-01-03 01:05] #51 closed

[2020-01-06 15:22] adyp770 opened #52 "SSL"
I'm unable to get Test Client to connect with the Test Server with SSL enabled. The Server and Client options are given below. The certificate test.pfx exists in the same directory as the Test Server executable.

The Client throws an exception:
System.Security.Authentication.AuthenticationException: 'The remote certificate is invalid according to the validation procedure.'

Server IP: [127.0.0.1]

[2020-01-06 16:58] jchristn commented on #52
Hi @adyp770 you have to allow invalid certificates.  The ```test.pfx``` certificate in the repo is self-signed.

![image](https://user-images.githubusercontent.com/1421081/71833865-bb912000-3062-11ea-848f-f467880a1cb5.png)

[2020-01-06 16:58] #52 closed

[2020-02-11 23:37] Crushedice opened #53 "Showing SendAsync Upload/Download Progress"
Greetings,
Me again haha.
So far, everything worked fine, and now also as i want it.
Already made a bunch of updates with my tool.

Now im at optimizing, and improving the user experience.
A bit portion of that is to show the user whats going on.
Got quite a few reports that it seemed like the program would " freeze "
where, in reality it just uploaded the file still.
is there any way to get a pro

[2020-02-13 03:41] jchristn commented on #53
Hi @Crushedice looking into this now, give me a moment please :)

[2020-02-13 03:47] jchristn commented on #53
Hi @Crushedice I honestly don't know (right now) how I would accomplish this in my library.  I'll have to think on this some more.  A good interim solution for you would be to use SendAsync(byte[]) and read from the FileStream yourself.  That way, since you know the file length (```new FileInfo(filename).Length```) and how many bytes you've read, you could then report status.

If you have suggesti

[2020-02-13 15:07] Crushedice commented on #53
Dont worry,  its not like a app breaking issue.
Just more for the users, and ya.  as i am currently anyway on it i will try some stuff and report back if i found a proper solution.

Another rather small thing that i wanted to ask, if we can get a small method to override your
"Log" method.
As i am not using Winforms,  and not a console app, ive written my own " console log " method,
Would be nice

[2020-02-13 16:05] jchristn commented on #53
Great suggestion @Crushedice - I will add it to my list!

[2020-02-13 16:26] Crushedice commented on #53
As Edit :  maybe not just an overwrite.
i just now played around with it a bit.
Just a new Event handler would be enough.
checking if the handler is subscribed, if it is, skip the Console output and put the msg out with the event args.  😃

[2020-02-13 16:49] jchristn commented on #53
Here you go, just override ```Logger``` with your own method!
[code]

Commit: https://github.com/jchristn/WatsonTcp/commit/b034ed6270936e2e30b0c601dc0b8aa1187abe16
NuGet: https://www.nuget.org/packages/WatsonTcp/2.2.1

Cheers!  Joel

[2020-02-13 16:49] #53 closed

[2020-02-13 18:29] Crushedice opened #54 "SocketException"
Greetings,
As may expected with the debug Logs now at hand, i got the exception message finally.
But still,  dont know how to solve it .
After spending already hours on it , ill try to ask for help with it ,

Basicly i know from where the issue comes...  -  sending the stream with a dictionary as metadata.
If i remove the metadata, or, send a almost empty dictionary, it works fine...
Maybe im over

[2020-02-14 14:26] Crushedice commented on #54
-- Nevermind--
Found and resolved the issue.

Seems like the client did not wait for the upload to finish ( or more like , did not even really start to upload)

and skipped ahead. with message " completed successfully "

[2020-02-14 14:26] #54 closed

[2020-02-26 18:59] Crushedice opened #55 "Integer must be between...."
Greetings again,
After re-writing my methods due to the breaking changes of V3.0  , i encountered an issue (That may be already been before an issue , just without this message)

`  -Integer must be between 0 and 9999.- at WatsonTcp.Message.WatsonMessage.IntegerToBytes(Int32 i)`

I dug around a bit , and think its related to the site of the data i want to send?
Is the Metadata limited in some way

[2020-02-26 22:00] jchristn commented on #55
Hi @Crushedice yes, this is due to a size limitation hard-coded into the framing layer.  It can be extended to a larger size by modifying ```WatsonMessage.cs```.  How much data are you sending?

[2020-02-27 18:09] Crushedice commented on #55
Juust did a test with debug output,
He stops at the metadata with said exception and tells me :
"Metadata: [present,98289 bytes]"
The file where he's reading the dictionary of is 103kb ,
In the notepad there are 1350 Lines , each one - Key + Value  as Json converted.

[2020-02-27 21:43] jchristn commented on #55
Creating a branch for v3.0.3 and uploading, would you be able to give it a whirl and make sure it works for your use case?  Expanding metadata out to 99,999,999 bytes.

[2020-02-27 21:45] jchristn commented on #55
Branch v3.0.3-beta: https://github.com/jchristn/WatsonTcp/tree/v3.0.3-beta
NuGet package attached here for the same (Debug version)

[2020-02-27 22:45] Crushedice commented on #55
Branch 3.0.3 Beta :" This branch is even with master. "

I cant see any difference.  Expected outcome - like before

[2020-02-28 00:44] jchristn commented on #55
I'm dumb, I did it on master instead of first doing a ```git checkout v3.0.3```.  Please try with master.  Or the ZIP containing the NuGet package.  Let me know, thanks!

[2020-02-28 17:36] jchristn commented on #55
Did this work for you @Crushedice ?

[2020-02-28 17:51] jchristn commented on #55
Hi @Crushedice I just tested this on my side and it appears to work, definitely sending more than 10KB through metadata.  I added a hidden test command to Test.Client and Test.Server to send metadata comprised of a Dictionary where the key was integers 0...99999 and values that were identical to the key.  Thus it was sending likely 10s of megabytes of data.

I'll go ahead and close this and packag

[2020-02-28 17:51] #55 closed

[2020-02-28 20:23] Crushedice commented on #55
Sorry,  Was unavalible today,  but just tested it out, and this reolved my issue. Thanks for this!

A small question i now have with the breaking changes made,
as i dont see any message system here ill ask this here.

Whats the point of the "Data" arg ?
so like  - StreamReceivedFromClientEventArgs args.Data ,  Its saying , i can just get the whole stream from this.
So i could work with Data ,  and

[2020-02-29 00:16] jchristn commented on #55
Awesome, I'm glad it worked for you.

Re: ```Data``` - that's right.  If you access ```Data```, then ```DataStream``` will be fully read for you, so you can access the data directly.  Cheers!

[2020-03-17 16:01] developervariety opened #56 "Receiving messages from non-WatsonTcp server"

[2020-03-17 16:05] jchristn commented on #56
Hi @developervariety what's the issue?

[2020-03-17 16:07] developervariety commented on #56
Thank you for the fast response.

I have a Golang application communicating with my C# application just fine, but when I send a message from Golang (using [tcp_server](https://github.com/firstrow/tcp_server)) my C# application (using WatsonTcp) it does not pick up the message.

[2020-03-17 16:47] jchristn commented on #56
Hi @developervariety that is by design.  WatsonTcp uses a framing mechanism to make sure that when you send some n bytes of data, n bytes are received as an entire message on the other side.  It's essentially a messaging layer on top of TCP, meaning it can't work unless both sides are using that layer.

If you want something unmanaged, please check out SimpleTcp here: https://github.com/jchristn/s

[2020-03-17 16:47] #56 closed

[2020-03-17 22:30] developervariety opened #57 "Client detects disconnection, but server doesn't"
My WatsonTcp client randomly detects a disconnection, but my WatsonTcp server doesn't say it has been disconnected until I close the application.

I'm sending a lot of information back and forth non-stop (5Kbps+), could this be a possibility?

[2020-03-17 22:38] jchristn commented on #57
Hi @developervariety it shouldn't be.  I explicitly test high throughput scenarios with single and multiple connections.  Have you enabled logging by setting the ```Logger``` on both the client and server to see what is causing it to indicate a disconnection?

[2020-03-17 22:42] developervariety commented on #57
I haven't set `Logger`, doing so now and testing again. Thank you for the fast response.

[2020-03-17 23:44] developervariety commented on #57
I have set `Logger`, and much didn't change. I removed `IdleClientTimeoutSeconds` and it fixed the issue. Not sure how...?

[2020-03-17 23:49] jchristn commented on #57
Hi @developervariety sounds like it was intermittent.  Did you notice any log messages around the time when it randomly detected a disconnect on the client?  You would also see exception messages there if there were exceptions happening.

[2020-03-18 22:31] developervariety commented on #57
Yeah, I really don't know what caused it. I'll keep logging until it happens again, thanks!

[2020-03-18 22:31] #57 closed

[2020-03-20 13:29] ozrecsec opened #58 "New feature: implement SendRequest"
hi jchristin,
I'm new to github, I've found your library very useful for my next project.
It's very easy to use and works very good.
I would like see in your WatsonTcpClient class an implementation of a method like this

`byte[] SendRequest(Dictionary<object,object>, string data)`

When the client sends this message it will wait for the response and then provide the response as return value.

When

[2020-03-20 16:46] jchristn commented on #58
Hi @ozrecsec thanks so much for submitting this enhancement request.  I'll add it to the backlog!

[2020-03-21 02:30] developervariety opened #59 "All connections/clients crash when one disconnects"
I have multiple clients running instances of my application. I cap the amount of instances  each client is allowed to run, but whenever someone goes over the allowed amount, all instances on the same machine all crash. Server says it's a normal disconnect, and clients say to use `Connect()` practically meaning it was disconnected.

Here is my setup,

**Server**
[code]

**Client**
[code]

[2020-03-21 15:11] jchristn commented on #59
Hi @developervariety I'd need to see more of your code to diagnose this.  Your instantiation of both the client and server look fine.  I would also try enabling the Logger on the server to see if you can determine what is happening.

I'd also like to see the logic you have to prohibit one of your applications from running more instances than specified, and also recommend that you go to a single in

[2020-03-21 16:41] jchristn commented on #58
Hi @ozrecsec let me know what you think :)

NuGet v3.1.0: https://www.nuget.org/packages/WatsonTcp/3.1.0
Commit: https://github.com/jchristn/WatsonTcp/commit/841d9fc11ae6a1a32d6888be9a1847f66a87d81a

Updated README.md has examples, as do the Test.Client and Test.Server projects.

[2020-03-22 14:36] developervariety commented on #58
I actually needed this too, thank you!

[2020-03-22 14:37] developervariety commented on #59
Is there a way to contact you so I can send you my project files?

[2020-03-22 15:35] jchristn commented on #59
Hi @developervariety it would be best if you could isolate the issue into a codebase that can be shared if possible.  If that isn't possible, you could post a link here generated from file.io (one-time download) and I can take a look.  Cheers, Joel

[2020-03-22 20:49] jchristn commented on #58
Thanks @developervariety and @ozrecsec please re-open if there are issues with this feature.

[2020-03-22 22:21] developervariety commented on #58
@jchristn any possible way to make another method which is a list of `Dictionary<object,object>` and without `string data`?

[2020-03-22 23:41] jchristn commented on #58
Hi @developervariety the ```Dictionary<object, object>``` is just to transfer metadata with the message.  I could amend the library to allow sending 0-byte messages with attached metadata, but changing the metadata from a ```Dictionary``` to ```List<Dictionary>``` isn't a priority, since your ```List<Dictionary>``` could simply be the value to a key in the metadata ```Dictionary```.

Do you have a

[2020-03-23 00:39] jchristn commented on #58
Hi @developervariety this release exposes APIs to allow sending the metadata dictionary with no payload.  I also amended the APIs to provide better support for sending ```null```.

NuGet: https://www.nuget.org/packages/WatsonTcp/3.1.1
Commit: https://github.com/jchristn/WatsonTcp/commit/92b3119ceceebefdb771b1b73089e3baf9ec6cf3

Cheers!  Joel

PS - please reopen if you find any issues.

[2020-03-23 00:45] developervariety commented on #58
I was requesting it due to making my client depend on the server. I build a request (headers, parameters) on the server, and send it over to the client to be executed (http library).

Thank you for the swift responses and contributions!

[2020-03-23 04:27] developervariety opened #60 "'MessageReceived' or 'StreamReceived' must first be set"
Add `SyncRequest`. The latest update allowed me to switch my layout completely instead of using a `List<T>` and looking thru it for a request built from the server.

[2020-03-23 05:02] developervariety commented on #60
`WatsonTcpClient` will detect a `disconnection` (but server does not) if `MessageReceived` or `StreamReceived` is not set.

[2020-03-23 05:06] developervariety commented on #59
Looks like user code was causing this, so sorry!

[2020-03-23 05:06] #59 closed

[2020-03-23 09:22] ozrecsec commented on #58
Thank you so much!  :-) With this modify your library will be in my project.
I've only one question for you: there's a reason for the SyncRequestReceived that is an "action" instead of an Event like MessageReceived?

maybe i've to study a little bit more :-) but I don't see any valid reason to manage this in a different way from MessageReceived.

I've expected some like  this :
`server.SyncRequest

[2020-03-23 09:39] ozrecsec commented on #58
sorry but i've found a problem in my italian localization:

below the exception occurred.

DateTimeInvalidLocalFormat occurred
Message: Managed Debugging Assistant 'DateTimeInvalidLocalFormat' has detected a problem in 'C:\Users\ozrecsec\Desktop\TestWatsonTCP\TestWatsonTCP\bin\Debug\TestWatsonTCP.vshost.exe'.
Additional information: A UTC DateTime is being converted to text in a format that is onl

[2020-03-23 14:29] jchristn commented on #58
Agh, sorry about that.

Try this one.

NuGet v3.1.2: https://www.nuget.org/packages/WatsonTcp/3.1.2
Commit: https://github.com/jchristn/WatsonTcp/commit/d0fbc2ec3f4af4bc994ba0c1323f488de31c14ad

Please let me know if this works.

[2020-03-23 16:16] ozrecsec commented on #58
Thanks I'll try tomorrow :-) here it's 17:15 and i'll go to do other ;-)

[2020-03-23 16:23] jchristn commented on #58
No sweat, please re-open if there are problems!  Cheers

[2020-03-23 16:26] jchristn commented on #60
Hi @developervariety one of the two ```MessageReceived``` or ```StreamReceived``` must be set.

The intent of the metadata fields i.e. ```SyncRequestReceived``` is not to be the primary means of messaging but rather a means of including metadata with a message.  With the recent enhancements I guess this changes things somewhat.

If you're only sending ```Dictionary<object, object>``` back and fort

[2020-03-23 16:26] #60 closed

[2020-03-23 20:00] developervariety commented on #58
Hey, @jchristn! I'm having an issue with this sadly. Everytime I send a sync request from the client to the server, the logger returns saying the sync request has expired and has been discarded. Timeout is 10secs.

**Server**
[code]

**Client**
[code]

Am I possibly doing something wrong here?

[2020-03-23 20:40] jchristn commented on #58
Hi @developervariety I see you have the preshared key set on the server.  Are you setting it on the client?  Are you implementing ```AuthenticationRequested```?

You could also try implementing parts of your code in the ```Test.Server``` and ```Test.Client``` packages to reproduce.  That would be a simple way of sharing specific code with reproducible failures.

Cheers, Joel

[2020-03-23 20:47] developervariety commented on #58
Yes, I have `AuthenticationRequested` implemented on the client, and that is working fine. I will be downloading the project, and build it to see if I can reproduce it.

[2020-03-23 21:10] developervariety commented on #58
@jchristn I just did a test with no `Data` just `Metadata` and the same problem occurred.

Server console:
[code]

Client method:
[code]

[2020-03-23 21:51] jchristn commented on #58
Hi @developervariety just reproduced this, looking into it now!

[2020-03-23 22:23] jchristn commented on #58
Ok I think I have a solution here.  The issue was around conversion to UTC.  I don't know, however, if this fix will break the fix I put in for @ozrecsec so I'll need confirmation.  Also both Test.Client and Test.Server now have a command called ```sendandwait empty``` for this purpose.

![image](https://user-images.githubusercontent.com/1421081/77368356-49eb7880-6d19-11ea-8099-eea1dd82ef20.png)

[2020-03-24 09:36] ozrecsec commented on #58
ok, i've tested directly the 3.1.3 version and works perfectly. thanks so much

I've noticed that my problem was because i've put client and server (only for test purpose) in the same application.... if I launch two exe separatly it works fine.

bye

[2020-03-24 14:50] jchristn commented on #58
Thanks for confirming @ozrecsec - just as an FYI, you should be able to have both in the same program.  I do that all the time with no issue.  For example, see: https://github.com/jchristn/WatsonTcp/blob/master/Test.Throughput/Test1.cs

Cheers, Joel

[2020-03-24 15:48] ozrecsec commented on #58
ok, but with SendAndWait it will wait until the timeoutException fires.
My tests in single application worked well until i tested the SendAndWait funcionality.
But this is not a real problem, it's a nonsense to have client and server in the same application :-)

Ciao
Michele (alias ozrecsec)

[2020-03-24 16:40] developervariety commented on #58
@jchristn it appears this bug is back again, but only when the server requests data from the client with `SendAndWait`.

[2020-03-24 16:57] philipphagen87 opened #61 "Help/Problem timeout sendandwait"
Hello,

I really need help with the Server/Client..
My Configuration of the Server is
[code]

My client:
[code]

I want to SendAndWait:
[code]

At server side
[code]

It is the same sample as stored in git.
If i download the current version from git and test ist, everything is fine.
But if i do the same thing with the code above I always get the timeout exception (no msg received after timeout)
If

[2020-03-24 17:17] developervariety commented on #61
What is your version of `WatsonTcp`? This bug was fixed in v`3.1.3`, although exists when the server sends a sync request to the client.

[2020-03-24 17:23] philipphagen87 commented on #61
Sorry i forgot to write that i also tried with `V3.1.3`

[2020-03-24 17:23] developervariety commented on #61
No problem, so you are sending a sync request from the client to the server correct?

[2020-03-24 17:26] philipphagen87 commented on #61
From the client to the Server

[2020-03-24 17:47] developervariety commented on #61
Client -> Server is working completely fine on my end. That's odd!

[2020-03-24 17:52] jchristn commented on #61
Hi @philipphagen87 are the client and server running on the same machine or different machines?

[2020-03-24 17:53] jchristn commented on #58
Hi @developervariety reopening this and looking into it now!

[2020-03-24 17:54] philipphagen87 commented on #61
they are running on the same machine

[2020-03-24 17:55] jchristn commented on #58
Server on left, client on right, ```sendandwait``` with data from server to client:
![image](https://user-images.githubusercontent.com/1421081/77460021-cb94e200-6dbd-11ea-99f5-a2f559b1114a.png)

```sendandwait empty``` from server to client:
![image](https://user-images.githubusercontent.com/1421081/77460124-e9fadd80-6dbd-11ea-86ce-1e149f746953.png)

Hi @developervariety this seems to be working o

[2020-03-24 18:21] developervariety commented on #58
I am sending a sync request as soon as the client connects to the server. I have checked to see if the client was indeed sending back a `SyncResponse`, and it does. It's populated correctly and it isn't `null`.

__Server__
[code]

__Client__
[code]

[2020-03-24 18:38] jchristn commented on #58
Ok so to confirm, the client is connecting successfully, which indicates that there is no network/firewall issue.

How/where are you confirming that SyncResponse was populated and sent?

[2020-03-24 18:43] developervariety commented on #58
Yes, communication between server and client is perfect. I confirmed `SyncResponse` is populated (not sure if it's sent) and not null by introducing a variable and debugging before returning `SyncResponse`.

[2020-03-24 18:45] jchristn commented on #61
Can you send any messages back and forth using other Send APIs?

Could you package your solution up and share it with me and I'll take a look?

Cheers, Joel

[2020-03-24 19:00] developervariety commented on #58
Alright so I just added a 10sec wait before sending the client a sync request, and it is working!

[2020-03-24 19:09] jchristn commented on #58
That's so weird.  Is the client connecting before you have fully instantiated the server?

[2020-03-24 23:08] developervariety commented on #58
Yes, the server is fully initiated. Not sure why that happens, but it's working and that's what matters. You can close this issue, thank you so much!

[2020-03-24 23:12] #58 closed

[2020-03-26 12:07] lxman opened #62 "In this project the client will connect but then is immediately disconnected"
[RemoteControl.zip](https://github.com/jchristn/WatsonTcp/files/4386989/RemoteControl.zip)

[2020-03-26 15:39] jchristn commented on #62
Hi @lxman thanks for sending this.  Appears to be a problem in the client form.  I'm investigating this now.  When I connect from a console client, it works fine (see attached).  Will post findings and source when finished.
![image](https://user-images.githubusercontent.com/1421081/77665721-4801ff00-6f3d-11ea-8248-94c931d61824.png)

[2020-03-26 15:40] jchristn commented on #62
Client is somehow being immediately disposed.
![image](https://user-images.githubusercontent.com/1421081/77665906-83043280-6f3d-11ea-943b-48b9f23cf723.png)

[2020-03-26 16:04] jchristn commented on #62
Ok so it appears that when the Send methods are embedded within forms event handlers, Dispose gets called on the object (!!!).  I don't know why this is happening or what to do about it.  Any suggestions?
![image](https://user-images.githubusercontent.com/1421081/77668516-bd230380-6f40-11ea-835f-dc5eb1f670f8.png)

[2020-03-26 16:10] lxman commented on #62
Hmm, well, that's odd - I do know a bit about winforms, so I'll think about it. Here's something else to add to the puzzle. I have a project done with a similar design, only using WPF. That project does not have this issue. I realize that at this point it only confirms your diagnosis, but I thought that might be good to know.

When I get a bit of time around my day job I'll take a look.

[2020-03-26 16:12] jchristn commented on #62
Wait, I got it.  Give me a moment.

[2020-03-26 16:14] jchristn commented on #62
Simple fix.

Set either ```MessageReceived``` or ```StreamReceived``` event on your client.

I'll modify ```.Start()``` to throw an exception if neither is set.

Thanks for catching this!  I was about to pull my own hair out...

![image](https://user-images.githubusercontent.com/1421081/77669511-1d667500-6f42-11ea-95ff-902ce98ca12e.png)

[2020-03-26 16:22] jchristn commented on #62
FYI there was a code path inside the main DataReceiver loop where a ```break``` was present without any logging.  DataReceiver was actually terminating because the main loop was broken and Dispose is called at the end of DataReceiver.

[2020-03-26 16:27] lxman commented on #62
Hmm, okay, I've set a handler on  `MessageReceived` and that particular error does not appear any more. Thanks!

[2020-03-26 16:31] jchristn commented on #62
I updated the package to v3.1.4 on NuGet: https://www.nuget.org/packages/WatsonTcp/3.1.4

Here's the commit: https://github.com/jchristn/WatsonTcp/commit/fcfc5487832f34cd422a3f4deb5f457951cd8ada

It adds better logging for cases in code where the DataReceiver loop is broken due to the lack of a message or stream handler, and throws an InvalidOperationException if Start or StartAsync is attempted w

[2020-03-26 17:25] jchristn commented on #62
By the way @lxman would you mind if I posted (public) the modified source from the .ZIP file above?  It may benefit others using the project.  If not, I understand!

[2020-03-26 19:31] lxman commented on #62
That's fine with me - that was just a barebones to demonstrate the issue. Nothing really proprietary there.

[2020-03-26 21:23] lxman commented on #62
Okay, it looks like I'm on to step 2, and I've got the same thing. I've started to fill out the project and  the client is getting suddenly disconnected again. Would you like me to open up a new ticket or just continue this one in order to send you the source?

[2020-03-26 21:28] jchristn commented on #62
Let's reopen this one.

[2020-03-26 21:39] lxman commented on #62
No, sorry, wait. I see what it is now. I was doing something stupid on the server side. It was causing the server to crash. Just saw that as I was uploading to you.

[RemoteControl.zip](https://github.com/jchristn/WatsonTcp/files/4390074/RemoteControl.zip)

I'll try to be a little more diligent. In short, I created a list of Control, tried to access the first element, but had forgotten to actually

[2020-03-26 21:45] jchristn commented on #62
Hey @lxman don't sweat it, happy to help.  Reclosing for now.  Don't hesitate to file new issues if/when they arise.  Cheers and stay safe.

[2020-03-26 21:45] #62 closed

[2020-03-26 23:13] jchristn commented on #61
Hello @philipphagen87 , were you able to get this working?  Or able to package up a portion of your solution for me to examine?

[2020-03-27 17:11] philipphagen87 commented on #61
Sorry for the late answer... i fixed my problem.. it was my architecture! thanks for support..

[2020-03-27 17:11] #61 closed

[2020-03-27 17:12] jchristn commented on #61
Awesome thanks @philipphagen87 please let me know if I can help in the future.

[2020-04-10 10:09] ozrecsec opened #65 "SendAndWait TimeoutException with 4.0.0 version"
Hi,
today i've updated WatsonTcp library in my projects from 3.1.4 to 4.0.0 version and the SendAndWait calls throws always a Timeoutexception.

I've created a minimal example project to check if i did something wrong but the problem is in the library and the Expiration field in header message (i think is the string format of datetime with the Z).

enabling debug messages and log i can see the ser

[2020-04-10 12:05] ozrecsec commented on #65
I've found the origin of problem in the SerializationHelper class. The JSON deserialization of DateTime don't give the same datetime serialized with the UTC setting.

[2020-04-10 14:40] jchristn commented on #65
Hi @ozrecsec I will look at this today and report back!  Thanks so much!

[2020-04-10 15:22] jchristn commented on #65
Hi @ozrecsec do you by chance have two machines with different time or timezones?  I just tried on my local machine and it was ok (see below).

But I definitely like your approach of modifying the ```SerializationHelper``` class, and if that makes it work properly in your case then I will 100% make this change right now!

Happy Easter to you!

![image](https://user-images.githubusercontent.com/142

[2020-04-10 15:30] jchristn commented on #65
Here you go @ozrecsec - updated in NuGet to v4.0.1.  Going on to approve and integrate your PR then will update NuGet with v4.0.2!

NuGet v4.0.1: https://www.nuget.org/packages/WatsonTcp/4.0.1
Commit: https://github.com/jchristn/WatsonTcp/commit/75672a679d2708239f52c625ab6b2f1f958387b8

Thanks again!

[2020-04-10 15:30] #65 closed

[2020-04-13 10:13] Crushedice opened #67 "SyncResponse data always null?"
Greetings!
The new Syncresponse seems pretty usefull to me,
to send message only data as supposed to bigger file transfer over streams.
So i can split them , and not use only the one method for everything.
But i encounter now one problem.
Any Syncresponse.Data is null  for me, client + serverside.
Am i doing something wrong?

[code]

[2020-04-13 14:36] jchristn commented on #67
Hi @Crushedice happy Monday to you!  Could you share a bit more of the code, specifically the code that is responding?  I'd be happy to double-click into what's happening on your side.  I just tried locally with v4.0 and it is working.  Which version are you using?

Synchronous client to server:
![image](https://user-images.githubusercontent.com/1421081/79129027-55025900-7d59-11ea-8c58-786173a0598

[2020-04-14 00:16] developervariety opened #68 "Feature request: Data Compression"

[2020-04-14 06:08] ozrecsec commented on #65
I've tested directly the 4.02 version and it works great :+1:
thanks
bye

[2020-04-14 22:51] jchristn commented on #67
Hi @Crushedice wanted to see if you had a follow-up on this one?  Cheers

[2020-04-15 00:20] developervariety commented on #67
If @Crushedice is using the latest version then they won't encounter any issues.

[2020-04-15 05:11] jchristn commented on #68
Hi @developervariety thanks for filing this!  I have a version I'm about to publish that applies either Gzip or Deflate compression over the data payload.  It won't apply to the headers or user-supplied metadata because one of my design goals is to make sure that non-Watson systems can interact with Watson systems.  Applying compression over those would make that kind of integration quite challeng

[2020-04-15 15:41] jchristn commented on #68
Hi @developervariety please check out v4.1.0 on NuGet, the latest commit, and the updated README.  Compression support is now provided for message data (not metadata/headers) using Gzip or Deflate.  Also added a shout-out to you for your support to the project in the README :)

NuGet v4.1.0: https://www.nuget.org/packages/WatsonTcp/4.1.0
Commit: https://github.com/jchristn/WatsonTcp/commit/88a7a7a

[2020-04-15 15:41] #68 closed

[2020-04-15 15:43] jchristn commented on #68
Here are the relevant README sections:
[code]

and

## Compression

Data compression was added in v4.1.0 to reduce bandwidth consumption for data send between client and server (thank you @developervariety for the suggestion).  Compression is applied only to the data and not to the headers or user-supplied metadata, because we wanted to keep framing simple to support external integration with Wats

[2020-04-15 16:40] developervariety commented on #68
Thank you so much @jchristn!

[2020-04-15 17:28] developervariety commented on #68
I've forked the repository so I could add custom compression support. As soon as I get time I'll work on it and send in a PR!

[2020-04-15 18:03] jchristn commented on #68
Perfect, thanks @developervariety !

[2020-04-15 18:36] jchristn commented on #67
Please re-open if the issue persists after moving to the latest version.  There were issues with this that were resolved.  Thanks!

[2020-04-15 18:36] #67 closed

[2020-04-17 12:43] ozrecsec opened #70 "Send message and disconnect without delay causes merge of message on server"
Hi, I'm in trouble with a particular case.

If my client sends a message to the server and immediatly closes the connection the server receives the message containing sended data and also the header of the "closing" message.

here below my output:

    Server listening on port 23456. press enter to close
    Client connected: 10.10.3.12:34746
    Message received from 10.10.3.12:34746: ciao{"Statu

[2020-04-17 14:21] jchristn commented on #70
Hi Michele, message received and I will see if I can reproduce and fix this today!

[2020-04-17 16:35] jchristn commented on #70
Reproduced.
![image](https://user-images.githubusercontent.com/1421081/79592332-b5add080-808e-11ea-83b0-d32518ecd750.png)

Seems like a .Flush issue somewhere.  Working on this now.

[2020-04-17 16:40] jchristn commented on #70
Found in ```WatsonMessage.cs```
![image](https://user-images.githubusercontent.com/1421081/79592787-62884d80-808f-11ea-8182-a8afa7abfcbf.png)

I recall having to make this change because of something with SSL and compression.  Testing the fix.

[2020-04-17 16:43] jchristn commented on #70
Ok, yes, there is an issue with SSL and compression that caused me to read the stream fully.  It appears the compression stream for some reason is not advancing when read.  It will take me a while to dive into this.  If you're not using SSL, you can switch the line of code as above and be fine.  Sorry you encountered this!  I'll get it resolved ASAP.

[2020-04-17 17:16] jchristn commented on #70
Testing a version to commit and publish to NuGet.

[2020-04-17 17:59] jchristn commented on #70
Update: I can't get around the compression bug when SSL is used.  However this is more a corner case, and the fix for the broader use cases is more important.  Going to publish this version, and release note the issue.

[2020-04-17 18:07] jchristn commented on #70
Hi @ozrecsec I just pushed v4.1.1 to NuGet and everything works great *except* compression with SSL (@developervariety please be aware of this since it was an enhancement you requested)

Please confirm the fix and close the issue.

NuGet: https://www.nuget.org/packages/WatsonTcp/4.1.1
Commit: https://github.com/jchristn/WatsonTcp/commit/aa24fce5b5a4b71caf3a7cdeb2863190ee747947

Thanks for letting

[2020-04-17 18:16] jchristn opened #71 "Deserialization exception when using compression and SSL together"
CC: @developervariety since this was his enhancement request

Steps to reproduce:
1) instantiate both server and client using SSL
2) set client compression mode to ```Gzip``` or ```Deflate```
3) send two or more messages

First message received ok:
![image](https://user-images.githubusercontent.com/1421081/79600473-0ed03100-809c-11ea-9436-86f587f09777.png)

Second message:
![image](https://user-im

[2020-04-17 18:35] developervariety commented on #71
Is this the issue? `?l\M�`

[2020-04-17 20:00] jchristn commented on #71
Yep, that's exactly it.  It seems that when I read out of the DeflateStream or the GZipStream (and then close it, leaving the underlying NetworkStream or SslStream open) it leaves some remnants behind and I'm not sure why.  Then, when I go to read the next message, the first bits it reads are those extranneous bytes before the next message's header.

[2020-04-17 20:00] jchristn commented on #71
I'm going to run a test to see if the size of that garbage scales with the size of the message.  If so it's likely not advancing the position on the stream.

[2020-04-17 20:04] jchristn commented on #71
Doesn't seem to scale with the message.
![image](https://user-images.githubusercontent.com/1421081/79609535-c587dd80-80ab-11ea-83a1-78d6fa92cb07.png)

I'll need to do some digging into how the ```bool leaveOpen``` in the DeflateStream and GZipStream constructors work with the underlying stream.  Could be with SSL there needs to be an extra step after closing the encapsulating DeflateStream or GZip

[2020-04-17 22:51] developervariety opened #73 "Feature request: Data Encryption"
I forked the repository and added `Data Encryption`. This somewhat protects users that do not want to use a SSL certificate, but don't want to send plain data thru the network.

I have yet to push the changes bc I would like some feedback along with extensive testing once a submit a PR.

- What types of algorithms should be offered by default?
- What ciphers should be used per algorithm?
- What sh

[2020-04-17 22:53] developervariety commented on #73
Files changed if merged:
- WatsonTcpClient.cs
- WatsonTcpServer.cs
- WatsonMessage.cs

New files:
- EncryptionHelper.cs
- EncryptionType.cs

[2020-04-17 23:21] jchristn commented on #73
Hi Justin, I think AES256 would be a good enough start.  Cheers!

[2020-04-18 00:16] developervariety commented on #73
Alright, sounds like a plan!

So the way I wanted to go about it didn't go as planned by putting it in `SendDataStream`/`SendDataStreamAsync` bc `ContentLength` is bigger after the the message data is encrypted unless `Compression` was used.

I'm currently encrypting the data, and updating the content length before either of those methods are executed.

[2020-04-18 00:37] jchristn commented on #73
I wanted to keep ContentLength in the header to be the original data length - you'll notice that instead of updating the ContentLength for compressed vs uncompressed data, I left it in tact and relegated handling to the DeflateStream and GZipStream.  Perhaps we could add another header that indicates the BlockSize and other parameters so that ContentLength can remain a representation of the source

[2020-04-18 00:45] developervariety commented on #73
Yeah we could definitely do that, I'll submit the draft PR as soon as I finish cleaning up so we can tweak some things.

For encryption-related parameters that would be a major plus bc currently I'm using the same salt and I would love to generate a new salt for every data exchange between the two parties.

[2020-04-19 03:44] jchristn commented on #71
I have a fix and will be packaging it up in the next day.

It comes down to this.  When reading from GZipStream or DeflateStream, you may leave extranneous bytes in the stream if you only read out the number of content bytes you think you need.

i.e. if I write 1024 bytes to GZipStream, one would expect that I could then as a consumer just read 1024 bytes.  That appears to NOT be the case.

When I

[2020-04-19 03:47] developervariety commented on #71
I knew only reading the `ContentLength` provided number was the issue here! I'm surprised it was JSON.NET throwing the error instead of the compressor trying to decompress the stream/data.

Glad to see the issue has been resolved. Thank you!

[2020-04-19 03:49] jchristn commented on #71
NuGet v4.1.3: https://www.nuget.org/packages/WatsonTcp/4.1.3
Commit: https://github.com/jchristn/WatsonTcp/commit/34d5cde5f55826e83e0684f4ed5d5741e3a3a14e

@developervariety I hope some of the internal refactoring doesn't throw off your PR too much.  Cheers and have a good night

[2020-04-19 03:49] #71 closed

[2020-04-19 03:52] #70 closed

[2020-04-23 09:09] ozrecsec opened #75 "Client disconnection only in SyncRequest after TimeoutException"
Hi,
I'm getting in a strange problem, I'll describe by steps:
- Client connects fine and sends messages and syncRequest correctly
- Client sends a SyncRequest that the server takes long to respond and client goes in timeoutException
- After this the client can send regularly standard messages with .Send(...) and works fine
- But if I send another SyncRequest and the server completes the request an

[2020-04-23 16:07] jchristn commented on #75
Hi @ozrecsec I appreciate the level of detail.  I'm working on reproducing this now; I think I have an idea of what is happening.  Thanks!

[2020-04-23 16:20] jchristn commented on #75
1) Synchronous request timeout handled correctly by client (discarded timed-out response)
![image](https://user-images.githubusercontent.com/1421081/80122930-116ed280-8543-11ea-8900-832b542336d2.png)

2) Async message sent client to server works after timed-out sync request
![image](https://user-images.githubusercontent.com/1421081/80123000-277c9300-8543-11ea-846f-ba0455622f6d.png)

3) Subsequent

[2020-04-23 16:23] jchristn commented on #75
I need to check here to see if payload was read:
![image](https://user-images.githubusercontent.com/1421081/80123532-e042d200-8543-11ea-8615-c54b9a72e76a.png)

Ok, as suspected, it appears the expired message **data** is not read by the client and left in the underlying stream - see ```I waited 6 to send this to you```:
![image](https://user-images.githubusercontent.com/1421081/80123622-fe103700-8

[2020-04-23 16:28] jchristn commented on #75
I suspect this is the problematic code in the server DataReceiver:
[code]

And in the client DataReceiver:
[code]

[2020-04-23 16:28] jchristn commented on #75
Testing a fix.

[2020-04-23 16:31] jchristn commented on #75
Tested with fix:

1) Sent message that should timeout (instructed server to wait 6 seconds on a 5 second timeout); it timed out as expected
![image](https://user-images.githubusercontent.com/1421081/80124373-09b02d80-8545-11ea-90f4-2376c06b632d.png)

2) Sent another message that should not timeout (it didn't)
![image](https://user-images.githubusercontent.com/1421081/80124419-1af93a00-8545-11ea-9e

[2020-04-23 16:36] jchristn commented on #75
NuGet: https://www.nuget.org/packages/WatsonTcp/4.1.5
Commit: https://github.com/jchristn/WatsonTcp/commit/65a20937ede1434d246cb459ec57b63617af7253

Thanks again @ozrecsec - closing this, please let me know if the issue continues!

[2020-04-23 16:36] #75 closed

[2020-04-24 10:59] ozrecsec commented on #75
I've tested and works geatly

thanks!

[2020-04-29 10:17] karstennilsen opened #76 "SendAndWait is not working if receivers system time is later than senders system time"
Of course in an ideal world al system times are totally in sync. In real life system time of different computer can be easily out of sync several seconds.
Both WatsonTcpClient.cs and WatsonTcpServer.cs have the following expiration check which.
I would suggest to determine time diference on connect and use this difference or add a possiblitiy to remove expiration check (of course keep the timeoute

[2020-04-29 18:10] jchristn commented on #76
Hi @karstennilsen thanks for sending this over.  Agreed this is a problem.  I was thinking of amending the metadata sent with every message to include the sender's timestamp.  That way the receiver would understand the sender's local time within +/- the one-way network latency.  Then things like the expiration timestamp could be derived based on the difference.  The downside to this is it would be

[2020-04-29 19:27] jchristn commented on #76
Hi @karstennilsen please let me know if this fixes the issue for you.

NuGet v4.1.6: https://www.nuget.org/packages/WatsonTcp/4.1.6
Commit: https://github.com/jchristn/WatsonTcp/commit/e8131037ec1cb7846c5d4e00bf588a459dde616f

[2020-04-29 20:53] karstennilsen commented on #76
Wow, already a fix, nice!
Just took a quick peek at the code at this looks like a decent way on handling it.
It's already late here. Will do some test tomorrow with the new version.

[2020-04-30 09:25] karstennilsen commented on #76
In my test situation it doesn't work. I think I know why:
[code]
I believe you have to reverse it, e.g.:
If sender time is 10:40 and receiver time is 10:45 and expiration is 1 minute, so 10:41.
ts = 10:40 - 10:45 = -5 minutes
expiration = 10:41 + -5 = 10:36
But the expiration needs to be 10:46 because that's 1 minute later than receiver time 10:45.

[2020-04-30 16:09] jchristn commented on #76
Hi @karstennilsen just merged, committed, and updated NuGet. Thanks for this!

NuGet: https://www.nuget.org/packages/WatsonTcp/4.1.8
Commit: 754ba48

Cheers, Joel

[2020-04-30 16:09] #76 closed

[2020-05-01 12:53] Motridox opened #78 "Disconnect Clients inside ClientConnected event"
Hi,

not sure if this is classified as an Issue.
If you try to disconnect a client inside the ClientConnected event, the client simply refuses to disconnect.

Code example I guess:
`		private void TcpServer_ClientConnected(object sender, ClientConnectedEventArgs e)
		{
			Console.WriteLine("connect");
			WatsonServer.DisconnectClient(e.IpPort);
		}`

Executing the DisconectClient method inside a t

[2020-05-01 16:06] jchristn commented on #78
Hi @Motridox interesting, this is definitely not the intention.  I'll test this right now!  Thanks for filing this.

[2020-05-01 16:10] jchristn commented on #78
Was able to reproduce immediately, seems like the ```OperationCanceledException``` was being caught inside of the ```DataReceiver``` task for that particular client, but did not break out of the outer while loop.  Testing a fix.

[2020-05-01 16:12] jchristn commented on #78
Fix seems to be working:
![image](https://user-images.githubusercontent.com/1421081/80820477-c7fa3500-8b8b-11ea-9ea8-27cb52d1dc6c.png)

Server code:
[code]

Publishing commit and new version to NuGet momentarily.

[2020-05-01 16:15] jchristn commented on #78
NuGet v4.1.9: https://www.nuget.org/packages/WatsonTcp/4.1.9
Commit: https://github.com/jchristn/WatsonTcp/commit/5dec60b8b6eb8cc14598b9552b3d2c851d3454c2

@Motridox thank you for filing this; this should fix it.  Please re-open if it does not.  Thanks!

[2020-05-01 16:15] #78 closed

[2020-05-12 11:19] ozrecsec opened #80 "SendAndWait deadlock"
Hi, I'm experiencing some strange problems like a deadlock when the client and the server makes a SendAndWait call at the same time.

Even if the execution of methods completes in less than one second both receives a timeoutException.

I've tested and we fall in the deadlock even if the first request is sent by the client or the server indifferently.
If you want I can provide two program.cs to tes

[2020-05-14 17:43] ozrecsec opened #81 "Problem if SendAndWait called in Client_ServerConnected event"
If I send a request with SendAndWait method inside the event ServerConnected the server receives the mnessage but the response will never come back to the client. the client hangs until the timeout and disconnects.

Do you ned an example to check?

bye
Michele

[2020-05-15 04:35] jchristn commented on #81
Hi @ozrecsec looking into this tonight.  Thanks!

[2020-05-15 04:42] jchristn commented on #81
I believe this is because the ServerConnected event fires before the DataReceiver is started.  I'm going to test it with a fix (and check to see if I need to fix it on both client and server).

![image](https://user-images.githubusercontent.com/1421081/82012096-c0c33480-962b-11ea-92be-ab5f477f72d6.png)

[2020-05-15 04:45] jchristn commented on #81
Looks like server was already set up correctly.

![image](https://user-images.githubusercontent.com/1421081/82012261-3deea980-962c-11ea-9962-aa0ca95d89c9.png)

[2020-05-15 04:49] jchristn commented on #81
Ok, I have a fix in.  Will build new version and publish shortly.

[2020-05-15 04:53] jchristn commented on #81
Fix is in!  Please re-open if any issues.

NuGet: https://www.nuget.org/packages/WatsonTcp/4.1.11
Commit: https://github.com/jchristn/WatsonTcp/commit/535fcaa99b0155b61e46508ecdb392597471da12

[2020-05-15 04:53] #81 closed

[2020-05-18 06:54] jchristn commented on #80
Hi @ozrecsec so sorry for the delay in getting back to you.  I've had a really hectic week.  I put in a commit moments ago (see https://github.com/jchristn/WatsonTcp/commit/07b682b5e0cd4277260538353efb755219551b09) to test this scenario.  Please refer to the ```Test.Deadlock``` project.  I can't seem to reproduce what you are seeing.  Please let me know if I can amend my code in some way to better

[2020-05-18 07:53] ozrecsec commented on #80
thank you for the response. I thought you're waiting my examples :-)

now I try your test and give you soon a response

[2020-05-18 10:05] ozrecsec commented on #80
ok, I've tested with your Test.DeadLock and also with two new console projects (client and server) and works fine.
Then I've tested with two winforms projects and the problem come out... the problem is the main thread of the gui program... in my test I tried to call sendAndWait (in both client and server) in another thread and so works fine.

I think this is not a bug but who uses the library whit

[2020-05-18 16:46] jchristn commented on #80
Hi Michele, thanks for putting this together!  I see the issue; yes it is not recommended that synchronous/blocking code be placed in the main UI thread for Winform/WPF apps.  The app can become unresponsive and potentially cause background events to not fire because the main thread is blocked.

The ```Send``` methods (not ```SendAndWait```) *also* have this issue because they are blocking/synchro

[2020-05-19 08:47] ozrecsec commented on #80
Okay, I'm with you on the need to manage calls in separate threads.
I haven't seen what's under the hood yet, but I still have some doubts about the deadlock. But that doesn't hurt me :-)
I expected to block the application only for the duration of SendAndWait (about 2 seconds) and therefore the answer will return to the caller ... but even if I put the timeout at 60 seconds and the two simultaneo

[2020-05-20 00:13] #80 closed

[2020-06-23 04:28] simonhaines commented on #56
Hi @jchristn, would you mind adding this information to the README (with the link to simpletcp)? I suspected some application-layer jiggery-pokery with the 'SendAndWait' method but it took me a good hour or so debugging before finally adding logging to my remote server, searching for this issue, etc. Cheers, Simon.

[2020-06-23 16:27] jchristn commented on #56
Hi @simonhaines not a problem, that's a great suggestion.  I'll do that now.  Cheers

[2020-06-23 16:32] jchristn commented on #56
This is done.

I also listed CavemanTcp first, since it is an even more primitive wrapper over TCP, exposing control over the number of bytes to read from the socket.

[2020-06-25 18:35] leviculus opened #82 "WatsonTcpClient.Dispose() disposes resources used by the MonitorForExpiredSyncResponses() task resulting in System.NullReferenceException"
I've come into a new project that calls Dispose on a WatsonTcpClient after a System.TimeoutException from a WatsonTcpClient.Start() call. This results in a System.NullReferenceException as I think the MonitorForExpiredSyncResponses() function is referencing disposed objects after its wait expires.

My apologies if calling Dispose post a client connection failure is not supported or recommended and

[2020-06-25 18:53] jchristn commented on #82
Hi @leviculus I posted an update earlier this morning for that exact issue. What version are you using? Have you tried with the update from this morning? Cheers

[2020-06-25 18:55] leviculus commented on #82
Thanks for getting back to me so quick @jchristn !

The test code above runs using 4.1.12 as well I've updated the project I've inherited to 4.1.12 with the exception still being thrown

[2020-06-25 19:36] jchristn commented on #82
Thanks - do you have anything keeping the client open after the task has finished executing?  It looks like it is being disposed after completion of the task; I don't see anything there to keep it open or long-lived.

[2020-06-25 19:43] jchristn commented on #82
I just added another project called ```Test.NonExistentServer``` with this code and I get the expected timeout exception:
[code]

I also tried running using Visual Studio Debugger, same result.

![image](https://user-images.githubusercontent.com/1421081/85788158-5f3dbd80-b6e1-11ea-942c-421e14d918bb.png)

[2020-06-25 19:58] jchristn commented on #82
Are you using .NET Framework or .NET Core?  Version?  Windows/Mac/Linux?

[2020-06-25 20:03] leviculus commented on #82
Sorry, I should have included that from the beginning. The test code above was run on Windows 10, .Net Core 3.1

The project I'm working on targets .NET Framework 4.8 also running on Windows 10

[2020-06-25 20:04] jchristn commented on #82
Weird.  I'm also using Windows 10 and tested the above using .NET Core 3.1...

Could you send me a screenshot showing the exception?

[2020-06-25 20:06] leviculus commented on #82
The exception details I'm seeing, screenshots coming

'''
$exception	{"Object reference not set to an instance of an object."}	System.NullReferenceException
Data	{System.Collections.ListDictionaryInternal}	System.Collections.IDictionary {System.Collections.ListDictionaryInternal}
HResult	-2147467261	int
HelpLink	null	string
InnerException	null	System.Exception
Message	"Object reference not set to

[2020-06-25 20:12] leviculus commented on #82
Test code Exception:
![TestException](https://user-images.githubusercontent.com/4295366/85790668-1fe29180-b720-11ea-920e-aa4f53e9d610.PNG)

Project Exception:
![ProjectException](https://user-images.githubusercontent.com/4295366/85790679-27a23600-b720-11ea-9801-4e34f33a6193.PNG)

[2020-06-25 20:55] leviculus commented on #82
This change seems to fix my issue. I don't think it would introduce additional errors but your expertise will be a better decider of that!

[code]

[2020-06-25 22:21] jchristn commented on #82
Hi @leviculus wow, thank you for tracking this down!  I uploaded v4.1.12.1 to NuGet: https://www.nuget.org/packages/WatsonTcp/4.1.12.1

The commit is here: https://github.com/jchristn/WatsonTcp/commit/b25ef80a026704646c6e97a0323cd76a9363efa4

Please re-open if this needs to be amended.  Really appreciate you identifying the source here.

[2020-06-25 22:21] #82 closed

[2020-06-25 22:34] leviculus commented on #82
@jchristn You're welcome! Thank you for following up so quickly, you've made a great library and its very helpful so thank you!

[2020-06-26 20:11] developervariety commented on #73
Long time since I've been on GitHub, thanks for not closing the PR/issue! I'll get the PR draft ready ASAP.

[2020-06-27 12:42] Job79 opened #84 "Project not working on dotnet core 3.0"
I installed the newest nuget package (4.1.12.2) and tried this project with dotnet core 3.0 (arch linux, kernel 5.7.4)

This is my code:
[code]

Most of the time the client does not even connect to the server.
When it connects data is never received.
Am I doing something wrong?
Or does this project not work on linux? (I don't have a windows machine to test this code on)

[2020-06-27 12:45] Job79 commented on #84
Not having this issue with [SimpleTcp](https://github.com/jchristn/SimpleTcp)

[2020-06-27 16:55] jchristn commented on #84
Hi @Job79 doesn't look like anything is wrong.  For grins, could you try putting a Thread.Sleep(1000) in between server.Start() and the client using statement?

[2020-06-27 16:57] jchristn commented on #84
Actually try this and let me know.  I'm curious if the server/client are being disposed before execution of the 2nd line after.
[code]

[2020-06-27 17:03] Job79 commented on #84
This is the output I got:
[code]
Maybe the server listener didn't start yet.
But putting a sleep before `Console.WriteLine("Sending data...");` doesn't seem to work.

[2020-06-27 17:32] Job79 commented on #84
Does this work on windows?

[2020-06-27 18:35] jchristn commented on #84
Yes.

![image](https://user-images.githubusercontent.com/1421081/85929495-3e54a400-b86a-11ea-9b03-38aad0a68727.png)

[2020-06-27 18:36] jchristn commented on #84
I also tried on .NET Core 3.0 (the above was from 3.1) and it worked.

![image](https://user-images.githubusercontent.com/1421081/85929513-5e846300-b86a-11ea-9293-4f33625c0adc.png)

[2020-06-27 18:39] jchristn commented on #84
I'll get an Ubuntu image going and test this same code there too.  Let me know if it works on your end.  It should work fine, lots of people using it with Linux and .NET Core 3.0.

[2020-06-27 18:55] Job79 commented on #84
Sure, tried it on my debian (arm) server. Same results there.
It is indeed a strange issue, normal sockets are working fine on linux.

[2020-06-27 19:14] jchristn commented on #84
Check if it's using IPv6 instead of IPv4.  Add ```+ client.IpPort``` to the end of your client connected statement.  I'm testing now.

[2020-06-27 19:26] Job79 commented on #84
It is using ipv4 ("127.0.0.1"), when replacing the addresses with ipv6 addresses same problem.

[2020-06-27 19:37] jchristn commented on #84
Right, but I'm seeing an exception that leads me to believe somehow IPv6 is in the picture.
[code]

[2020-06-27 19:38] Job79 commented on #84
This can be fixed by putting a sleep between the client and the server.

[2020-06-27 19:42] jchristn commented on #84
It's working.
[code]
Using your original port: 42512
[code]
Code:
[code]
dotnet version
[code]

[2020-06-27 19:44] jchristn commented on #84
You said you're using Ubuntu on ARM?

[2020-06-27 19:46] Job79 commented on #84
Your output does not contain `Data Received`

Debian on arm, Arch on x86

[2020-06-27 19:48] Job79 commented on #84
![2020-06-27-214327_1920x1080_scrot](https://user-images.githubusercontent.com/38859657/85930831-c1541980-b8bf-11ea-8b44-c32785c4ccf3.png)
This while loop seems to never stop

[2020-06-27 20:00] Job79 commented on #84
Could it be that it is a problem with "\r\n" and "\n"?
That somewhere in the code "\r\n" is used and somewhere else Enviroment.Newline? (linux: "\n", windows: "\r\n")

[2020-06-27 20:02] jchristn commented on #84
Good catch on it not including Message received.

I think it must be related to the newline separator.  Let me work on this and report back.  Thanks for bringing it to my attention!

[2020-06-27 20:27] jchristn commented on #84
You @Job79 are the man.  Was able to fix it and push to NuGet - v4.1.12.4:

Output:
![image](https://user-images.githubusercontent.com/1421081/85931454-613a8480-b879-11ea-8bc2-c001ad073729.png)

NuGet: https://www.nuget.org/packages/WatsonTcp/4.1.12.4
Commit: https://github.com/jchristn/WatsonTcp/commit/ea379fc2c42d325371e7f6bce00a3018cb20d8ea

I'll let you close omce you confirm.

I have a repo y

[2020-06-28 07:56] Job79 commented on #84
Works great!

[2020-06-28 07:56] #84 closed

[2020-07-02 09:12] Dijkstra-ru opened #85 "Compression issues (was GZip compression doesn't seem to work with SendAndWait)"
Hello!

The control flow doesn't seem to enter the SyncRequestReceived event if GZip compression is enabled. Disabling compression fixes the issue.

Regards, Yury.

[2020-07-02 15:52] jchristn commented on #85
Hi @Dijkstra-ru thank you so much, I will check it out!

[2020-07-02 15:56] Dijkstra-ru commented on #85
I use the lastest version from NuGet, namely 4.1.12.4.
I'm sorry I can't write a minimal code to reproduce the issue now, deadline is coming too soon. I think it will work with the most basic example from readme.

[2020-07-02 15:57] jchristn commented on #85
I was able to reproduce.

Client sending compressed message
[code]

Server receives compressed message:
[code]

Client sends/waits compressed message:
[code]

Server receives UNCOMPRESSED message:
[code]

[2020-07-02 15:59] jchristn commented on #85
Actually, this may or may not be cosmetic.  It looks like the client is NOT setting the compression enum, but somehow the server is picking it up.

Nevertheless, I'll dig into this.  Sorry for the inconvenience!

[2020-07-02 16:11] jchristn commented on #85
My mistake; the server did not have its default compression set in my previous test, which is why the server response included ```"Compression":"None"``` though the client message was sent with ```"Compression":"Deflate"```.

The client seems to be operating properly:
1) Client sending uncompressed message, server receives:
[code]
2) Client sending deflate message, server receives:
[code]
3) Clien

[2020-07-02 16:55] Dijkstra-ru commented on #85
Strangely, I can't reproduce it in a simple sample code, however commenting `client.Compression = CompressionType.Gzip;` fixes the situation in real-world code. I need some time to think it over.

My code is identical to this, but it doesn't work with `client.Compression = CompressionType.Gzip;` uncommented. The code below works either way.
[code]
Please leave the issue open for a few days, I'll t

[2020-07-02 17:20] jchristn commented on #85
Thank you for the kind words!  I am happy to support in whatever way I can. Please don’t hesitate to ask :) Cheers Joel

[2020-07-19 19:49] jchristn commented on #85
Hi @Dijkstra-ru were you able to track down the source of the problem?  Cheers, Joel

[2020-07-25 01:30] #73 closed

[2020-07-25 01:42] jchristn commented on #85
Hi @Dijkstra-ru please feel free to reopen if you find the issue is in the library.  Cheers!

[2020-07-27 01:42] developervariety commented on #85
I was able to produce this bug.

## POC
* Set `Compression` to `CompressionType.Gzip` on client and server
* Send a `SendAndWait` packet with a `Dictionary (metadata)`, any timeout and a string/byte array

`WatsonTcpServer` never "receives" the packet.

[2020-07-27 01:46] developervariety commented on #85
Logger logs from `WatsonTcpServer`. It appears it parses the message, but never invokes the event handler when using `CompressionType.Gzip`

[code]

[2020-07-27 02:19] jchristn commented on #85
Hi @Dijkstra-ru and @developervariety I modified ```Test.Client``` to automatically add a ```Dictionary<object, object>``` to the metadata parameter, set the client compression to Gzip, and sent a message to the server.  As you can see in the screenshot below the server receives the message.

Would love some help in reproducing this.

![image](https://user-images.githubusercontent.com/1421081/8849

[2020-07-28 16:12] developervariety commented on #85
I'm not entirely sure how I was able to reproduce this, but I know it wasn't a false positive. Next time it occurs I'll have you a detailed POC.

[2020-07-28 16:24] jchristn commented on #85
Are you setting the SyncMessageReceived callback?  I'm assuming you are but thought it would be worthwhile to double check.

[2020-07-29 12:30] Job79 commented on #85
Hello, just adding that Gzip doesn't work for my at all (linux, .net core 3.1.6)
Here is my code:
[code]

And the output:
[code]

The server doesn't receive any data. Maybe related to #84 ?
Code works fine with `CompressionType.Deflate` and `CompressionType.None`

[2020-07-29 15:29] jchristn commented on #85
Got it, was able to reproduce.  Thanks @Job79 - I will test and remedy!

![image](https://user-images.githubusercontent.com/1421081/88819976-93d7e580-d175-11ea-9173-35a32adc84a7.png)

[2020-07-29 15:58] jchristn commented on #85
Ok I think I've solved it.  I was having an issue early on where if I were to read some n bytes out of the ```GZipStream``` there would be remnants leftover in the underlying ```NetworkStream```, so I had to switch to reading the ```GZipStream``` fully.

Now, somehow, reading n bytes works.

I'm going to test this with Deflate as well and make sure there are no issues.  Then I will test on Ubuntu

[2020-07-29 16:33] jchristn commented on #85
There is clearly a difference in how Windows and Ubuntu handle GZipStream and DeflateStream.  And it's really frustrating.

I updated NuGet to v4.1.2.15 with a fix.  Here are the results:

- Windows with Gzip: pass
- Windows with Deflate: pass
- Ubuntu with Gzip: pass (fixed)
- Ubuntu with Deflate: fail

The difference is this.  Earlier on I found that in order to properly process messages, anytim

[2020-07-29 16:44] jchristn commented on #85
## Test results using 4.1.12.6

This one uses selective read for Gzip and full read for Deflate.

Windows Gzip (pass):
![image](https://user-images.githubusercontent.com/1421081/88827805-4496b280-d17f-11ea-99f2-c37b402eb442.png)

Windows Deflate (pass):
![image](https://user-images.githubusercontent.com/1421081/88827871-57a98280-d17f-11ea-94e1-f0637c2b4a84.png)

Ubuntu Gzip (pass):
![image](https:

[2020-07-29 16:44] jchristn commented on #85
So it looks like 4.1.12.6 fixes the issue.  Could you give it a go and see if it works for you?

[2020-07-29 16:46] developervariety commented on #85
Deflate was working with you reading the `NetworkStream`. I'll be updating my library and checking this out!

Thank you for your time and dedication.

[2020-07-29 17:02] Job79 commented on #85
4.1.12.6 fixed the issue! Good work!

[2020-07-29 17:38] jchristn commented on #85
Glad to know, thanks for helping me isolate it!

[2020-07-31 12:32] ozrecsec opened #86 "Message content mixing when sending big message with send and a lot of small messages with sendandwait"
Hi,
sometimes in my project I'm getting in a problem of data transmission.

The situation is:
- the server sends (with Send method) to one client a big message (a string representing a list o 3000 objects serialized with json, about 10MB of data)
- at the same time, in another thread the server sends to the same client a request with SendAndWait
- the client receives the BIG message but the data r

[2020-07-31 13:25] jchristn commented on #86
Hi @ozrecsec thanks for bringing this up.  It definitely should **not** be happening.  There are locks within both the client and server libraries that **should** prevent this, so I will definitely look into this right away.

Does this happen only from server to client, or have you tried the reverse direction as well?

Thanks, Joel

[2020-07-31 13:34] ozrecsec commented on #86
no, I'm sorry, i've tested this only from server to client.
maybe in the next hour I can do the test from client to server.

[2020-07-31 13:35] jchristn commented on #86
That's ok @ozrecsec - appreciate you bringing this up.  I'm investigating now.  I think it has to do with use of ```SemaphoreSlim``` internally instead of a simple ```lock```.

[2020-07-31 14:14] jchristn commented on #86
Hi @ozrecsec I was able to reproduce this, quite quickly, by including ```SendAndWait``` calls in my ```Test.MultiThread``` project.
[code]
I'll be working on this today!  Thanks

[2020-07-31 14:16] ozrecsec commented on #86
I've tested the client and it works fine.
the problem seems to be only on server side.

[2020-07-31 14:43] jchristn commented on #86
Hi @ozrecsec I've implemented a solution similar to yours that I'll be incorporating into the next commit and push to NuGet.  I'm not sure what I've done wrong with my ```SemaphoreSlim``` implementation, but it is indeed a problem.  Will report back when it's updated!  Cheers, Joel

[2020-07-31 14:46] ozrecsec commented on #86
Thank you so much for the speed :-)
Next week I'm in holyday so I get and test the new version in 10 days...

thanks again

[2020-07-31 18:45] jchristn commented on #86
Hi @ozrecsec I've published an update.  You can find the commit here: https://github.com/jchristn/WatsonTcp/commit/a59ceddba83493a109270f04ca543b3db9f23e96

And the NuGet package here: https://www.nuget.org/packages/WatsonTcp/4.1.12.7

Please re-open if this doesn't address the issue for you!  Also please check out Test.MultiThread, I've amended it to make it better test this issue.

Thanks for ma

[2020-07-31 18:45] #86 closed

[2020-08-09 11:36] Crushedice opened #87 "Overlapping data"
Greetings.
So far, didnt had any problems anymore until now.
Im working atm on a tool for our staff that includes a bunch of functions,
most of them using the watsonTCP for communication.
Now i noticed, sometimes, some code runs faster then the other, and both using SendAsync.
It can happen that the client then receives both streams and merge them together, which makes no sense anymore for the cli

[2020-08-09 15:27] jchristn commented on #87
Hi @Crushedice can you use MessageReceived?  It fully reads the data out of the stream then fires the even whereas StreamReceived passes the underlying stream and blocks until finished.

Alternatively I could add another event like MessageReceived but fully read the data out into a MemoryStream and pass that to you (but that's what MessageReceived already does, except it gives you the byte array).

[2020-08-09 17:21] Job79 commented on #87
Best solution would be sending the length of the stream. This way you know the end of every stream.
But then it is no longer possible to send streams with an unknown length.

So best solution would be writing an extension for this problem, that would do the following:

Send
- Send length of stream (8 bytes)
- Send stream

Receive (receive into other stream for really big data)
- Receive length of

[2020-08-09 18:15] Crushedice commented on #87
True.  this i have happen in my code as well.
Sometimes, the internal header is taken into the message that i sent ,
and , in this case.  will be displayed in the internal Chat feature of the app.
Nothing too severe that it breaks stuff.  but confusing nonetheless

[2020-08-09 18:17] jchristn commented on #87
Hi @Job79 in which version did you reproduce this?  I added a fix for this issue in 4.1.12.x.  It had to do with ```SemaphoreSlim``` not behaving the way I was expecting within the previous design.

[2020-08-09 22:30] playingoDEERUX opened #88 "Packet corruption"
I am sending a huge packet with SendAsync to my Server (and Send to my Client from the Server) why does it have missing/corrupted data sometimes? Like every 10th time I send this packet this occurs.
Is message framing integrated in Send/SendAsync?, I am also using Messages rather than Streams, is that perhaps the issue?

[2020-08-10 01:23] jchristn commented on #88
Hi @playingoDEERUX yes framing is included everywhere.  Could you provide sample code to reproduce this issue?  Thanks, Joel

[2020-08-10 01:34] jchristn commented on #88
Also what is the size of the data you send?  Are you sending a byte array or a stream from the sender side?  Are you consuming the data on the receiver side using MessageReceived or StreamReceived?

[2020-08-10 11:27] playingoDEERUX commented on #88
I am using MessageReceived and am running a public external server and am using Kernys.Bson.
I am sending a byte array from sender side.

private void Network_OnReceive(object sender, MessageReceivedFromServerEventArgs args)
        {
                BSONObject bsonResponse = SimpleBSON.Load(args.Data);
                string strVal = bsonResponse[NetHelper.NetTypes.Message].stringValue;

[2020-08-10 11:31] playingoDEERUX commented on #88
On my client I send with WatsonTcpClient.SendAsync, on my server via WatsonTcpServer.Send

[2020-08-10 11:33] playingoDEERUX commented on #88
Also I realized this actually occurs on smaller size packets too (that are not necessarily 1MB)

[2020-08-10 13:58] jchristn commented on #88
Hi @playingoDEERUX thanks for the detail.  Would love to help find the source of the issue; this doesn't sound like an out of the ordinary use of WatsonTcp.

Are your client and server console applications?  If so could you turn on logging and capture the logs from when this occurs?
[code]

Are you using .NET Core or .NET Framework?  Which OS and version are you using?

Do you see the same issue w

[2020-08-11 01:32] playingoDEERUX commented on #88
My client (that most likely has this issue) is running on winforms (will be able to log anyway under Visual Studio Debugger)
I am using .NET Core for the server and .NET Framework for the client
The range of what packets server sends are 100 bytes up to a few megabytes (4mb at max)
Here the error:

WatsonMessage] ReadHeaders found header demarcation
[WatsonMessage] BuildFromStream header processin

[2020-08-11 02:00] jchristn commented on #88
Thanks, this is helpful.  Generally when there is a deserialization exception, too much data has been read out of the stream.  What version are you running?  There's a bug that was fixed in 4.1.12.7 that fixed an overlapping write issue (which manifests itself as exactly this)

[2020-08-11 02:12] playingoDEERUX commented on #88
I am running the latest version, 4.1.12.7 on both server and client. Also I tried using Gzip compression and I think its broken because with that, from rarely disconnecting I always disconnect so I guess I'll be sticking to deflate for now.

[2020-08-11 02:22] jchristn commented on #88
Hmmm..  Since you're receiving message metadata, it indicates to me that you're (somehow) hitting a condition where it tries to read another message header immediately after reading a header, rather than reading the payload.

I've been meaning to abandon ```SemaphoreSlim``` internally in favor of just simple locks; let me implement this now and post a new version for you to try.  Please give me an

[2020-08-11 02:24] playingoDEERUX commented on #88
Issues is fixed! It apparently was because my client received the Ping Packet together with another response packet at once, perhaps the new version will fix this so this wouldnt be relying on the shoulder of the users anymore but I found this confusing. Anyways hope the new version is going to get rid of this.
Thanks!

[2020-08-11 02:37] jchristn commented on #88
Understood :)  Would you be open to testing the attached .nupkg?  I didn't publish to Nuget yet until I give it some soak time on my end.  I changed the SemaphoreSlim constructor from (1) to (1, 1).  I think somehow under the hood it was increasing the max number of threads allowed to enter.

[WatsonTcp.4.1.12.8.nupkg.zip](https://github.com/jchristn/WatsonTcp/files/5054460/WatsonTcp.4.1.12.8.nupk

[2020-08-11 03:00] jchristn commented on #85
Hi all, issues with Deflate and Gzip have crept up again and I'm about ready to pull them out of the code.  I wanted to get your feedback on it.  It seems various combinations of operating systems (Windows, Mac, Linux) vs runtimes (.NET Framework, .NET Framework with Mono, and .NET Core) have different behaviors with regard to fragments of data being left in the underlying stream.

In any case, th

[2020-08-11 06:52] Job79 commented on #85
The issues or the compression?

Maybe take a complete other approach, like building compression on top of the receive functions instead of embedding them.
This is how I would add compression:

- Give all the send functions an optional (Default: Compression.None) parameter with the compression type. When not none first compress the data before continuing.
- Give the message received parameter class

[2020-08-11 07:59] Crushedice commented on #87
Interesting. I didnt knew about the Data wrapper.
And yes. true,  sometimes the method did read into the next header and messed up.
So, using the supplied "Data" byte array this wont happen?  how would i implement this?
Currently i did stick to the example projects with the method.

I just tried to commend the so far used method out and use args.data, which im sure is the wrong approach .
->
[code

[2020-08-11 13:37] Crushedice commented on #87
Just now as Edit to the problem i got.
I Just found, while debugging some issue i got already a bunch of times, where the connection just dropped.
After now some time searching, i found, that WatsonTCP had problems with the Json data i did send, as some of the characters were invalid ( weird symbols etc. that players used in their usernames )

After some more time i now got a small method together

[2020-08-11 15:01] jchristn commented on #87
Hi @Crushedice using the ```.Data``` wrapper within the ```StreamReceivedFrom*EventArgs``` object is functionally equivalent to using the ```MessageReceived``` event as opposed to the ```StreamReceived``` event.

StreamReceived is primarily used when you're going to be receiving large amounts of data whereas MessageReceived should be used when receiving manageable message sizes (up to tens of mega

[2020-08-11 15:02] jchristn commented on #85
The compression.

There isn't a least common denominator implementation that works in all combinations of OS and runtime environment.

[2020-08-11 15:21] playingoDEERUX commented on #88
I guess it fixed it, seems like the packets properly arrive.

[2020-08-11 17:48] Crushedice commented on #87
Okay.  It seems like it likes the " MessageReceived " event more.
Or better said,  with the somewhat fast data exchange , its not that good to process the stream myself . As there is a high probablility of hikkups.
Good.
I was used to using the stream received from my other application, where i  use it atm as an update system for our players with remote delta compression.  Big files,  Sent-one aft

[2020-08-11 17:48] #87 closed

[2020-08-11 21:02] jchristn commented on #88
Hi @playingoDEERUX please refer to v4.2.0, just committed (https://github.com/jchristn/WatsonTcp/commit/89dd514ce50cbca39051413ec7f0d8aec3b8405b) and published to NuGet (https://www.nuget.org/packages/WatsonTcp/4.2.0).

There are a couple key changes:

1) You shouldn't be able to 'over-read' now when using streams, i.e. reading too many bytes and getting into the next message's header
2) Compressi

[2020-08-11 21:02] #88 closed

[2020-08-11 21:03] jchristn commented on #85
Hi all, I committed v4.2.0 just now (https://github.com/jchristn/WatsonTcp/commit/89dd514ce50cbca39051413ec7f0d8aec3b8405b) and published to NuGet (https://www.nuget.org/packages/WatsonTcp/4.2.0).

There are a couple key changes:

1) You shouldn't be able to 'over-read' now when using streams, i.e. reading too many bytes and getting into the next message's header; this is applicable to when integr

[2020-08-11 21:03] #85 closed

[2020-08-11 21:04] jchristn commented on #87
Hi @Crushedice

I committed v4.2.0 just now (https://github.com/jchristn/WatsonTcp/commit/89dd514ce50cbca39051413ec7f0d8aec3b8405b) and published to NuGet (https://www.nuget.org/packages/WatsonTcp/4.2.0).

There are a couple key changes:

1) You shouldn't be able to 'over-read' now when using streams, i.e. reading too many bytes and getting into the next message's header; this is applicable to whe

[2020-08-12 19:26] cal3432 opened #90 "WatsonTCP Client disconnects instantly."
Similar to #62 but have followed instructions on that issue and still have the problem.

OS: Windows 10 LTS
Screenshots:
![image](https://user-images.githubusercontent.com/57721560/90058603-d6530380-dcd9-11ea-86e9-8f50b9596188.png)

Our code:
[code]

[code]

[2020-08-12 19:27] cal3432 commented on #90
Could it be we haven't set a handler in the client class? We get no errors in our Unity Log file and it acts like its a normal feature.

[2020-08-12 19:49] jchristn commented on #90
Hi @cal3432 it looks like you have your event handlers set, but you only need one of StreamReceived or MessageReceived.

Could you set ```server.DebugMessages = true``` and ```client.DebugMessages = true```, as well as ```server.Logger = Console.WriteLine``` and ```client.Logger = Console.WriteLine```?  And then post the output from both client and server?

It **appears** at first glance that the

[2020-08-12 19:51] cal3432 commented on #90
Sure, i'll get the logs. :+1:

[2020-08-12 20:24] cal3432 commented on #90
![image](https://user-images.githubusercontent.com/57721560/90063845-dc4ce280-dce1-11ea-8205-d2232ac22492.png)

Logs ^

Blue [Multiplayer] is the client.

I can see from here there is a IOexception.

[2020-08-12 20:32] jchristn commented on #90
Do you have the client logs as well?

[2020-08-12 20:39] daredloco commented on #90
I made the client.DebugMessages = true and client.Logger to an own logger class, this is the output:

![big](https://user-images.githubusercontent.com/60240491/90065449-af3d0780-dcc2-11ea-962a-e6c0c2566c67.jpg)

This happens at the moment the client disconnects and on Windows 8.1. Seems like there is a problem with Newtonsoft.Json

It's the same code as cal3432s

[2020-08-12 20:44] cal3432 commented on #90
Same with windows 10, and Proton on linux

[2020-08-12 22:17] jchristn commented on #90
Thanks @daredloco and @cal3432 - does the client send any data to the server prior to disconnection?  Watson uses Newtonsoft.Json for header serialization.  Since it is a ```System.IO.FileNotFoundException```, I'm wondering if perhaps the DLL could not be found?

You mention Windows 10 and Proton when running on Linux - is it .NET Core or .NET Framework?

If .NET Framework, do you see the file ```

[2020-08-12 22:19] cal3432 commented on #90
Its .Net Framework 3.5 running with Unity.

Newtonsoft JSON is present as we have other uses for it.

[2020-08-12 22:24] jchristn commented on #90
Ok.  I've never tried running WatsonTcp on .NET Framework 3.5.  It's targeted to .NET Framework 4.6.1 (and .NET Standard 2.0).

What is the WatsonTcp version you are using?  And the version of Newtonsoft.Json that you're using for other purposes?

I'm going to spin up a test project on .NET Framework 3.5 right now to see if there are any glaring issues.

[2020-08-12 22:27] jchristn commented on #90
Did you clone and retarget to .NET Framework 3.5?
![image](https://user-images.githubusercontent.com/1421081/90074522-4cdb0b80-dcb0-11ea-8d27-063de0f98e9b.png)

[2020-08-13 09:20] cal3432 commented on #90
It seems watsonTCP doesn't support 3.5, a shit ton of errors showed up when I opened watsonTCP in 3.5 targeted environment.

No problem, we switched to Telepathy which has better Unity support.

[2020-08-13 09:20] #90 closed

[2020-08-15 14:58] jensvanhoof86 opened #91 "Detecting abrupt connection loss due to unplugging network cable"
Hi,
Fairly new to C# (and even github) so hoping I'm doing this correctly. If not, feel free to correct me!

So far, I've had good luck with the WatsonTCP project and disconnection scenarios due to either the server or the client going offline. I am checking on the client side if the connection with the server is working by using the "status" command. Whenever the server goes offline by closing th

[2020-08-15 15:55] jchristn commented on #91
Hi @jensvanhoof86 thanks for your note.  There is, unfortunately, no clean solution to this.  There are APIs available underneath to check the status of the local network interface, however that doesn't do any good to notify a connected client if a server's network interface disconnects.

It is really up to the operating system to determine when to close underlying TCP connections when an adapter

[2020-08-15 16:06] #91 closed

[2020-09-04 16:15] bianshifeng opened #92 "How to only receive the body messege"
When I send the Json string form server to client,  I received the header msg and body msg mixed together

![20200905001601](https://user-images.githubusercontent.com/3129676/92261885-d75c0700-ef0c-11ea-8b44-baaf1e6c7633.jpg)

I only need the body json string

[2020-09-04 17:14] jchristn commented on #92
Are you using WatsonTcp for both client and server?

[2020-09-07 19:34] jchristn commented on #92
Hi @bianshifeng are you using WatsonTcp for both client and server or are you using something else?

[2020-09-08 21:12] jchristn commented on #92
Closing this as I'm making the assumption that you were using WatsonTcp only for the server, and not for the client.  WatsonTcp has its own mechanism for framing, which most need to build to support application-layer message delivery between processes.  That also means both sides must be aware of the framing, meaning you cannot use a generic TCP client with WatsonTcp.

If you need a simpler implem

[2020-09-08 21:12] #92 closed

[2020-09-13 14:23] zsolt777 opened #93 "Multithreading"
Hi there! I've just started to browse the code, I like it. Please let me share my thoughts that came into my mind at first glance.

WatsonTcpServer.cs
[code]
1. Why don't you use _ClientsLastSeen.AddOrUpdate instead of ContainsKey+TryRemove+TryAdd? These operations would be locked by ConcurrentDictionary internally, which is why ConcurrentDictionary exists.
2. Or why do you use ContainsKey at all,

[2020-09-14 16:47] jchristn commented on #93
Hi @zsolt777 thanks for the thorough review!  It is much appreciated and I will integrate these changes ASAP.  Completely agree with ```Interlocked.Add``` and ```Interlocked.Increment``` - I've been bitten by multi-thread adding/incrementing in the past.  Will report back when these changes are made!  Cheers, Joel

[2020-09-14 20:27] jchristn commented on #93
Hi @zsolt777 just committed and published v4.3.0.2 to NuGet.  Please re-open if this isn't along the lines of what you were recommending!

NuGet: https://www.nuget.org/packages/WatsonTcp/4.3.0.2
Commit: https://github.com/jchristn/WatsonTcp/commit/45e6cf04e29b50eb6dcf1b5b107053d58a99aa76

Also hope you don't mind I added your handle to the README as a thank you for helping make WatsonTcp better!

[2020-09-14 20:27] #93 closed

[2020-09-15 06:22] zsolt777 commented on #93
Hi @jchristn , perfect! Thank you, cheers!

[2020-09-22 12:48] xenioo opened #94 "[WatsonMessage] BuildStream IOexception, disconnect detected"
I've several client connected to a server. Everything works fine except for one client.

This client once connected, get disconnected immediately. Then it tries to reconnect, connect succesfully again, and then get disconnected again. This continues for 20 minutes or so, then remain connected and quite stable.

Enabling all the logs on the client, I see:
...
[WatsonMessage] BuildFromStream header

[2020-09-22 16:43] jchristn commented on #94
Hi @xenioo this is interesting.  Are all clients the same code or different?  If they are all the same code, then what I'd want to do is amend ```WatsonMessage``` to throw the ```IOException``` so we could see why it's happening.

Out of curiosity, on the server-side process, how is the thread count, CPU utilization, and memory utilization?  How does the CPU/memory utilization compare against your

[2020-09-23 08:32] xenioo commented on #94
All clients use the same code.

On the server side, the server is a .net core running both http api and tcp server. The server process is occupying low resources, both in terms of memory and cpu, so don't think the issues is around here.

Let's me explain in detail what the client does.

The client start with:

`Task.Factory.StartNew(() =>
            {
                while (true)

[2020-09-23 14:08] xenioo commented on #94
If I remove the polling task from the client, client stay connected and disconnection does not happen.

Seems like that checking the client.Connected property is what causing the problem. Could it be?

Anyway,  in that case it happens that sometimes the client disconnect from the server but and I'm not be able to check it because the ServerDisconnected event is not fired.

[2020-09-23 15:51] jchristn commented on #94
Hi @xenioo I'd recommend putting the ```client.Connect()``` into a separate method, and have the ```client.Events.ServerDisconnected``` event call the method to reconnect, rather than watching ```client.Connected```.  The problem with ```client.Connected``` is that it is not set to ```true``` until everything has been done post-TCP-setup.  i.e. starting background data receiver tasks, and so on.

[2020-09-23 16:09] xenioo commented on #94
Hi @jchristn,
i'll give a try to what you're suggesting for the polling loop.

About client.Connect(), i've already put my reconnect method into the ServerDisconnected event call, but I've noticed that clients become unreachable by the server (I know just by forcing a sendandwait call) without firing ServerDisconnected event.
So this is a problem, because not firing that event does not call the re

[2020-09-23 16:14] jchristn commented on #94
Hi @xenioo to make sure I understand, the client thinks it is connected (the ```ServerDisconnected``` event doesn't fire) but the server can't reach it (because of failed/failing ```SendAndWait``` calls initiated by the server).  Is that correct?

Are all of the clients running on a single machine or multiple machines?  Is the server on a separate machine?  What I've often seen happen while testin

[2020-09-23 16:19] xenioo commented on #94
@jchristn yes, correct.

Each client is running in a single machine. The server in a separate machine.

[2020-09-23 16:27] jchristn commented on #94
Got it.

Do you by chance have the source locally, or are you using the NuGet package?  If you have the source, we could remove 291...295 in ```WatsonMessage.cs``` to see the exception:

![image](https://user-images.githubusercontent.com/1421081/94041330-f537c180-fd7e-11ea-9c0b-0640a07406ce.png)

Alternatively I could add another property in both client and server that would force all exceptions t

[2020-09-23 16:33] xenioo commented on #94
I'm using nuget, but I could download the sources and make the changes.

In fact, IOException was the error that is detected when I run the polling loop and cause repetitive reconnections.

[2020-09-23 19:48] xenioo commented on #94
hi @jchristn, i've setup a test environment with the client running on my machine and connecting to the server running on a machine in the cloud.
I'm using the client version with the polling loop.

After 2 hours I've noticed that:
- client connect to the server succesfully
- immediate client disconnections does not happens and everything seems to work fine
- I try to send message from server to c

[2020-09-23 19:58] jchristn commented on #94
Hi @xenioo on the last one, i.e. a breakpoint, I would assume that would prevent the background tasks that monitor the connections from running while it's in the breakpoint.  That would explain the last issue.

Are you using TCP keepalives?  I let client and server run for hours and am still able to exchange messages after prolonged periods of inactivity.  There are a lot of factors to consider su

[2020-09-23 20:04] xenioo commented on #94
hi @jchristn,

I did set up the breakpoint only after having seen that the server wasn't able to reach the client. Until then, the client was running without any stop or pause.

And setting up the breakpoint showed that the Connected property was set to True even if client unreachable.

Now I'm running a test session with keepalives configured on both client and server.

Next test will be removing

[2020-09-24 09:30] xenioo commented on #94
hi @jchristn ,
i've tested with the removal of the caught IOException like you said.

This is the error I get:

2020-09-24 11:12:28.671 +02:00 [DBG] [WatsonMessage] BuildStream exception:
{
  "ClassName": "System.IO.IOException",
  "Message": "Unable to read data from the transport connection: A connection attempt failed because the connected party did not properly respond after a period of time,

[2020-09-24 13:38] jchristn commented on #94
Thank you @xenioo - one of the unfortunate realities of building a messaging layer on top of an operating system's networking stack is that I'm stuck getting what they give me.  WatsonTcp uses the underlying OS TCP implementation and they tend to have weird behavior about when a connection is considered alive vs not and when it is torn down forcefully vs gracefully.  This seems to be a situation w

[2020-09-24 13:53] xenioo commented on #94
Ok understood. So what are you suggesting? Is there a fix or a workaround you can work out in order to mitigate that issue?

[2020-09-24 14:06] jchristn commented on #94
This is an issue that TCP keepalives is supposed to address, but doesn't do very reliably.  Another approach is to use application-layer heartbeats, where you maintain a timer/state of when the last heartbeat was sent and acknowledged.  It has its own problems though, for instance, it would be sharing the same connection as your actual application data, which could be problematic if you don't inte

[2020-09-24 14:31] xenioo commented on #94
Should tcp keepalives also be configured on the client? At the moment I've enabled keepalives only in the server.

[2020-09-24 14:56] jchristn commented on #94
You can, in my testing I've only found it to work (somewhat) reliably server-side.  I haven't had any luck with clients actually using them.  I've tried with both Windows and Ubuntu - Windows with both .NET Framework 4.6.1 and .NET Core 3.1, and Ubuntu with .NET Core 3.1.  Really wish I could give you a better answer on this one.

[2020-09-24 15:54] xenioo commented on #94
Not sure 100%, but maybe found how to remove the repetitive disconnection happening on some clients.

I've put a delay after the client.Start() and this seems to have fixed that issue

Task clientStart =_client.StartAsync();
Task.Delay(1000).Wait();

Need to monitor next few hours...

[2020-09-24 16:03] jchristn commented on #94
Hi @xenioo are you still polling on ```client.Connected```?  If so adding the delay is definitely a good idea, since the ```Connected``` property isn't set until after all of the background work (starting data receiver, etc) is started.  Cheers

[2020-09-24 16:15] xenioo commented on #94
@jchristn yes, i'm doing polling.

[code]

Probably the issue, before inserting the Task.Delay, was the logging that was inspecting the _client.Connected property?

[2020-09-24 16:40] jchristn commented on #94
Exactly.  The ```Connected``` property is set after a handful of internal items which take time.

[2020-09-24 16:48] xenioo commented on #94
@jchristn don't want to annoy too much on that issues...but I've found another strange behaviour.

Clients are connected.

At some point, I see in the server log that 1 client disconnected. In this case, the polling loop in the client should trigger the reconnection of the client. Since the client didn't reconnect, I gave a look at the client log and found nothing: seems like that the client is co

[2020-09-24 16:52] jchristn commented on #94
Hi @xenioo not an annoyance at all - are you using TCP keepalives?  If so it could be that the server keepalives failed.  For some reason keepalives only seem to be working server-side and not client-side.

It may be worthwhile to implement a heartbeat within your application, i.e. periodically sending a 'hello' and updating a timer within your app of when the last hello was received.

WatsonTcp r

[2020-09-24 17:08] xenioo commented on #94
@jchristn sending the hearbeat from the client, right?

[2020-09-24 17:36] jchristn commented on #94
I'd do it from both sides to be safe.

Are you sending large messages or small?  If large, be aware that messages are sent in series, and a heartbeat could get stuck behind a larger message.

[2020-09-25 21:15] xenioo commented on #94
I'm sending small messages.

Anyway, I've implemented a second polling loop on the client that will send a hearbeat message every minute to the server.

Now, thanks to the yesterday's "task.delay" put just after being connected and thanks to the second polling loop, connections seems to be really stable and reliable.

[2020-09-29 03:41] jchristn commented on #94
Thanks @xenioo glad to know that the client-initiated heartbeat is helping.  Closing this out for now.

[2020-09-29 03:41] #94 closed

[2020-10-06 15:43] broms95 opened #95 "WatsonMessage.BuildFromStream very slow"
Hi,

I have been using your very helpful WatsonTcp library for some simple TCP communications on a Raspberry Pi 4 and Zero.  It seems to have issues with overwhelming the CPU/Memory subsystems in one part of your library: WatsonMessage.BuildFromStream.  It was consuming more than 100% of the CPU on one of the cores and overflowing the TCP receive queue on a very modest amount of network communicat

[2020-10-06 16:03] jchristn commented on #95
Hi @broms95 thank you so much for the kind words and thoughtful feedback.

Originally I had been using a custom binary framing format which was much faster than what is in place today but not as extensible and really difficult for me to maintain.  This is what led me to moving to a JSON frame header, which of course lengthened the header substantially.

I have some ideas on things I can do to help

[2020-10-06 16:33] broms95 commented on #95
Sounds good.  Probably some more profiling in this area would guide this--I didn't really check if it was the 1-byte at a time call to convert the JSON string to a watson string is the culprit -- probably the 1 byte call.  It goes in and calls ReadFromStreamAsync which allocates a new byte array of stream buffer size then asks for 1 byte.  Seems overkill.  There's also multiple streams created and

[2020-10-06 16:40] jchristn commented on #95
Great suggestions Joe.  I don't mind using shorter names in the JSON as long as I rev the minor version at minimum.  Looking into this ASAP!

[2020-10-06 17:30] jchristn commented on #95
Hi @broms95 let me know if this works out better for you!

v4.4 commit: https://github.com/jchristn/WatsonTcp/commit/22a324848848aebade9df3772de252544b92e4b7
NuGet: https://www.nuget.org/packages/WatsonTcp/4.4.0

I'll leave it for you to close if this helps with the issue, or let me know if this does the trick.

[2020-10-06 17:46] broms95 commented on #95
Looks good!

[2020-10-06 17:46] #95 closed

[2020-10-12 03:18] Tilation opened #96 "System.NullReferenceException When calling Stop()"
**Operating system and version:** Windows 10 x64
**Framework and runtime:** .NET Framework 4.7.2
**Issue encountered:** System.NullReferenceException when Stopping a server.
**Expected behavior:** The server should stop without errors.
**Steps to reproduce:** Instantiate a tcp server, and then call Stop()
**Sample code encapsulating the problem:**

[code]

**Exception details:** System.NullReferen

[2020-10-12 03:30] jchristn commented on #96
Hi @Tilation could you help me reproduce this?  I just tried and I'm not getting an exception (using ```Test.Server``` and ```Test.Client``` projects)

![image](https://user-images.githubusercontent.com/1421081/95702216-8f618b80-0c00-11eb-9040-84fa5d39e02e.png)

[2020-10-12 15:16] Tilation commented on #96
Hi, I restarted the pc just in case, but the error is still showing up.
Note that I'm not connecting any clients, maybe that is what triggers the exception? Tries to close all connections first, but there are none?

This is the code, its a fresh WinForms project with a button.
[code]

[2020-10-12 15:30] jchristn commented on #96
Ah, got it.  Testing in Winforms, give me a moment.  Thanks!

[2020-10-12 15:38] jchristn commented on #96
Interesting.  I used the ```Test.WinFormServer``` project and added try/catch blocks around ```.Start()``` and ```.Stop()```.  The exception seems to be happening outside of these methods (you can see there are no exception log statements showing up in the form itself, and the message ```Leaving bStop_Click``` shows properly).

I do see in the debug output (bottom right) that there is an ```Object

[2020-10-12 18:19] jchristn commented on #96
Hi @Tilation ok I figured out what is happening.  I changed the log message in this code block within the server's ```AcceptConnections()``` method to:
[code]
And the exception you see in the debug output (the one you caught) is being properly thrown when closing the listener using the ```Stop()``` method.  ```Stop()``` is requesting cancellation of the ```CancellationToken``` used by that method.

[2020-10-15 18:07] Tilation commented on #96
I'll try testing it outside the form and I'll catch to you! Maybe de garbage collector is doing weird things

[2020-10-15 18:08] jchristn commented on #96
Thanks @Tilation let me know :)

[2020-10-19 15:26] lutz opened #97 "Use WatsonTcpClient with Xamarin.Forms"
Hey,

nice work. Has anyone tried to use WatsonTcp to send messages between PC and Xamarin.Forms App? I can connect and if i send one message with WatsonTcpClient from my Xamarin.Forms App the Server receive a empty `e.Data` object and then the connection close (Reason = `Normal`).

Best regards
Daniel

[2020-10-19 17:47] jchristn commented on #97
Hi @lutz thanks for the kind words.  I haven't set it up in Xamarin.Forms before.  Are you instantiating Watson within a form itself or within something like ```App.xaml.cs```?

[2020-10-19 23:52] Antwns opened #98 "Server.Stop(); Function availability"
Hello! Do you also have the Server.Stop(); function (To essentially stop listening without disposing the server/client) on this Nuget package as well? Or is it only available on SimpleTCP?  Would this feature be added in the future? Thanks in advance and have a good day! 😄

[2020-10-19 23:56] jchristn commented on #98
Hi @Antwns sure do, it's in v4.4.  You have a good day as well!  Cheers, Joel
[code]

[2020-10-19 23:56] #98 closed

[2020-10-20 13:57] lutz commented on #97
Hi @jchristn i use it in the MainPage which is derived from `ContentPage`. On my windows forms application i generate a barcode with the `ipadress` and `port` and in the xamarin.forms app i scan it with the **ZXing** library and connect the `WatsonTcpClient`. The connection  is after `_client.Start()` open. But if i send the first message it close the conenction.

[2020-10-20 14:12] jchristn commented on #97
Thanks for the context @lutz - I've seen some behavior with forms apps (not sure about Xamarin) where network libraries such as Watson get disposed when instantiated within the form itself.  I wonder if this behavior might be consistent with Xamarin Forms.

Could you set ```WatsonTcpClient.Settings.DebugMessages = true``` and ```WatsonTcpClient.Settings.Logger = Debug.WriteLine``` and capture the

[2020-10-20 14:36] lutz commented on #97
Thanks for the information. i will come back with the ouput if i found the time to check it

[2020-10-20 15:12] lutz commented on #97
This happen on server side:

[code]

This happen on client sid:

[code]

So the server get an exception and after that the connection close

[2020-10-20 15:17] Antwns opened #99 "Error when stopping the server and external clients connecting"
Hello! When using the `.Stop();` Command I get ": `Object` reference not set to an instance of an object.` I have defined my server to the top of my class as ``internal static WatsonTcpServer AntVaultServer = new WatsonTcpServer("192.168.1.121", Convert.ToInt32(AuxiliaryServerWorker.ReadFromConfig(true, false)));``

It grabs the port number from a config file I have created.
I don't think that thi

[2020-10-20 15:24] lutz commented on #97
Here is the complete log:

[code]

The entry
[code]
is my `Debug.WriteLine()` code to see what the message contains!

[2020-10-20 15:31] jchristn commented on #97
Interesting.  I assume all you're trying to send is ```9783864890796```?  This should definitely **not** be happening.

[2020-10-20 16:02] jchristn commented on #99
Hi @Antwns would you be able to capture the full exception and paste it here?

[2020-10-20 16:23] jchristn commented on #96
Hi @Tilation wanted to see if you had any luck testing outside the form?  Cheers

[2020-10-20 16:25] Antwns commented on #99
Here is the error regarding the ``.Stop();`` function.

![Screenshot_5](https://user-images.githubusercontent.com/38153661/96613960-e0a80400-12ff-11eb-83db-4fb7148d3680.png)
![Screenshot_1](https://user-images.githubusercontent.com/38153661/96615331-6bd5c980-1301-11eb-815f-19030fbd35d6.png)

And here is the error regarding the missing .pdb file

![download](https://user-images.githubusercontent.co

[2020-10-20 16:52] jchristn commented on #99
Hi @Antwns thanks for the kind words.

I really, really hate to ask this, but would you be able to clone to your local machine, build in debug, then reference the debug DLL directly?  As far as I know there isn't a clean/easy way to include PDB files in NuGet packages.  If you reference the DLL locally, you could then put a try/catch around your call to ```.Stop()``` which would help identify the

[2020-10-20 17:39] Antwns commented on #99
Hello @jchristn . Adding a try/catch does nothing, the program still breaks in debug mode. I tried adding the .pdb file after compiling the .dll file. The client from the external network still doesn't connect, it breaks with null reference on ``.Start();`` just like the ``.Stop();`` does. Here's the screenshot on more details on the exception.

![Screenshot_1 (2)](https://user-images.githubuserco

[2020-10-20 17:45] jchristn commented on #99
Sounds like there are two issues:

1) external clients not able to connect
and
2) ```Stop()``` throwing a mysterious ```NullReferenceException```

For (1), internal clients are able to connect ok?  From the external machine, can you successfully ```telnet``` to the port on the server?  i.e. ```telnet [public ip address]:[port]``` for example ```telnet 73.93.x.x 8000```?

For (2) I updated NuGet wi

[2020-10-20 17:53] Antwns commented on #99
1)I have setup a DMZ server and have verified that the ports are open. External clients still cannot connect.
2)Local clients now cannot connect either for some reason(I really don't know, I didn't change anything in my code) with timeout exception.
3)I cannot do step two because local clients cannot connect either now... I just get a timeout exception

[2020-10-20 18:04] Antwns commented on #99
@jchristn I just figured out that there is an issue with my router, I'm looking into it right now! SORRY

[2020-10-20 18:12] Antwns commented on #99
Ok so @jchristn , local clients can connect normally, no problem. Remote clients get Null reference exception for some reason now only.

[2020-10-20 19:41] jchristn commented on #99
Ok - thanks.  Do they only get the exception after you've stopped the server?  Or even when the server is started?

[2020-10-20 19:57] Antwns commented on #99
I see null reference exception when:
1)Connecting to the server from a machine outside the local network.
2)Stopping the server after the .Start(); Command.
I have defined .KeepAlive settings identical to the ones stated on the Readme.MD file. I've also only setup MessageDataReceived on my client and server, hope this info is useful as well

[2020-10-20 20:04] jchristn commented on #99
For (1), do you see that exception on the client?

For (2), you see this on the server?

[2020-10-20 20:22] Antwns commented on #99
They both break the program in debug mode, even if I try try/catch, it still breaks. I don't get any details on the exceptions other than the ones I provided you with... I'm also using the Nuget pack with WPF and not Winforms, is that bad?

[2020-10-20 20:32] jchristn commented on #99
No, not bad at all :)

You mention above that you are instantiating using ```internal static WatsonTcpServer AntVaultServer = new WatsonTcpServer("192.168.1.121", Convert.ToInt32(AuxiliaryServerWorker.ReadFromConfig(true, false)));```

Is this inside of a form/view by chance?

I tested using a VM on EC2 and my local machine and can't reproduce.

[2020-10-20 20:41] Antwns commented on #99
No this code is in it's own class. I don't use winform hosts either.
There's a function doing ``StartAntVaultServer();`` which is as follows:
``
        public static void StartAntVaultServer()
        {
            if (SetUpEvents == false)
            {
                AntVaultServer.Keepalive.EnableTcpKeepAlives = true;
                AntVaultServer.Keepalive.TcpKeepAliveInterval = 5;

[2020-10-20 21:19] jchristn commented on #99
Ok good to know.

Could you try in a non-static class?  My worry is that the WatsonTcpServer object is being garbage collected since the ```StartAntVaultServer``` method will exit.  You'll notice in each of the test projects (for instance, Test.Server: https://github.com/jchristn/WatsonTcp/tree/master/Test.Server) there is a while loop which keeps the WatsonTcpServer object from being garbage coll

[2020-10-20 21:31] Antwns commented on #99
I could try but how would I call the start function since it's in another class file? 😢

[2020-10-20 21:49] jchristn commented on #99
If you change your ```StartAntVaultServer``` method to the code above you won't need to put it into an instance.
[code]

Also could you set the ```WatsonTcpServer.Settings.Logger = Debug.WriteLine``` and ```WatsonTcpClient.Settings.Logger = Debug.WriteLine``` and capture the output?  That will show if client or server are being disposed (could be initiated by garbage collection).

[2020-10-20 21:53] Antwns commented on #99
I'll do it and I'll let you know about it as soon as possible!
PS: Adding
`
EventWaitHandle waitHandle = new EventWaitHandle(false, EventResetMode.AutoReset, null);
`
`bool waitHandleSignal = false;`
`do`
`{`
     `waitHandleSignal = waitHandle.WaitOne(1000);`
`}`
`while (!waitHandleSignal);`
`

Makes the app unresponsive because it's being handled by the main thread(STA)

[2020-10-20 21:59] jchristn commented on #99
Got it.

I would definitely recommend creating an instance class then where you have WatsonTcpServer and WatsonTcpClient.  It's generally not a good practice to put socket/external communications libraries in the main thread or in a form directly for that matter.  Things get garbage collected, main thread gets blocked, etc.  There should be an ```App.xaml.cs``` or similar where you could instantia

[2020-10-20 22:36] Antwns commented on #99
Hi. I tried moving the server start function to a different thread with
       ``private void ServerStartButton_Click(object sender, RoutedEventArgs e)``'
       ``{``
           ``Thread ServerStartThread = new Thread(()=>MainServerWorker.StartAntVaultServer());``
           ``ServerStartThread.IsBackground = true;``
            ``ServerStartThread.Start();``
            ``ServerStartButton.IsEna

[2020-10-20 22:45] jchristn commented on #99
Good to know.

Regarding the exception, did you implement ```.Settings.Logger``` on both client and server?  Could you send me the output?

Are the outside hosts able to connect?

[2020-10-20 23:14] Antwns commented on #99
I do not know how to enable the logger, could you give me an example?
Outside clients are still not able to connect although I no longer get null reference exception, they just disconnect immediately for no reason.
Maybe if I can setup the logger we can figure it out!

[2020-10-20 23:17] jchristn commented on #99
You could set up a method like this:
[code]

Do this on both client and server and paste the contents of each file here.  Cheers!

[2020-10-20 23:28] Antwns commented on #99
Hello! Here is the log results from the server:
`[WatsonTcpServer] starting on 192.168.1.121:8910
[INFO] Server started on port 8910
[WatsonTcpServer] accepted connection from 151.68.174.247:20366
[WatsonTcpServer] starting data receiver for 151.68.174.247:20366
[WatsonTcpServer] listener stopped
[INFO] Received new connection from 151.68.174.247:20366
[INFO] Received new connection from 151.68.17

[2020-10-20 23:35] jchristn commented on #99
Well, you just discovered a bug :)  I had a ```?``` incorrectly placed in the ```Stop()``` method.  Going to release a patch on that right now.

The client logs indicate that something is interrupting the client connection.  It also appears the client is connecting multiple times or somehow the server's ```ClientConnected``` event is firing more than once.  I assume this output is coming from your

[2020-10-20 23:48] Tilation commented on #96
It is working outside forms, I don't understand what's happening, but I ended using SimpleTCP in forms and that seems to work

[2020-10-21 00:01] jchristn commented on #96
Got it.  Thanks for the update @Tilation

If you have any interested, I published an updated version today that caused a NullReferenceException in ```Stop()``` (I'm doing a total facepalm on it; I had misplaced a ```?``` on a logging statement).

Closing this out.

[2020-10-21 00:01] #96 closed

[2020-10-21 00:36] Antwns commented on #99
Yeah I made my own logger long before I started using WatsonTCP 😄
I get these errors on the client side:

{
  "ClassName": "System.TimeoutException",
  "Message": "Timeout connecting to AntMax.ddns.net:8910",
  "Data": null,
  "InnerException": null,
  "HelpURL": null,
  "StackTraceString": "   at WatsonTcp.WatsonTcpClient.Start()",
  "RemoteStackTraceString": null,
  "RemoteStackIndex": 0,
  "Exc

[2020-10-21 00:44] jchristn commented on #99
Thanks.  Something's blocking or the listener isn't set up properly given your NAT configuration.  I assume you have a router/firewall rule that forwards port 8910 to your machine's internal IP address?  Are you running any other services on that machine (for instance a webserver) where something is able to successfully get through?  Have you confirmed that the IP address reported by ping (I teste

[2020-10-21 00:49] Antwns commented on #99
My router is experiencing issues today, and I don't know why. As soon as I have more info I will get back to you about it, I have setup a DMZ on it but for some reason it stops working after a while...

[2020-10-21 00:51] jchristn commented on #99
Sounds good @Antwns let me know :)

[2020-10-21 01:16] Antwns commented on #99
I discovered that as soon as I launch the server my whole NAT crashes and no new connections would be accepted , I reset my router about 10 times to reach that conclusion. I really don't know what's going on...

[2020-10-21 05:18] lutz commented on #97
Hello @jchristn currently i have no idea if there are more then one threads. The app and the forms application initialize sclient and server in the ui main thread and sending and receiving are also in this thread.

[code]
[code]

The idea of the app is scaning barcodes from books (`9783864890796` is an isbn number) and send it to my windows forms application.

[2020-10-21 21:13] jchristn commented on #97
Thanks @lutz - I'm going to need to put a handler in to include more data.  Please give me some time to do this; I'll report back with a patch which will help isolate the issue.  I'm not sure why there's extra data in the socket; this shouldn't be happening.  Cheers

[2020-10-22 05:16] lutz commented on #97
@jchristn Thanks for the answer. There is no hurry at all, so no stress ;)

[2020-10-22 13:51] Antwns commented on #99
Hi @jchristn , I just had an idea, could it be possible that the client also needs port forwarding and not just the server to use this particular package? I've been banging my head around this

[2020-10-22 14:30] jchristn commented on #99
Hi @Antwns client-side NAT almost universally always automatically does this.  Otherwise the Internet would not because the return trip from the server to respond to the client would be broken :)

I'll take a look today and believe me I won't judge or be triggered!

[2020-10-22 14:31] Antwns commented on #99
Thank you @jchristn you're a true role model for aspiring programmers!

[2020-10-22 16:10] jchristn commented on #99
Hi @Antwns something to consider - I'd recommend two things as I'm starting to go through your server code:

1) I'd avoid having any kind of cyclical classes, i.e. you have MainServerWorker calling AuxiliaryServerWorker and vice versa
2) I'd recommend consolidated these two into an instance class, defining the class in App.xaml.cs, and instantiate in the main window

I'm going to make some suggest

[2020-10-22 16:12] Antwns commented on #99
Hi @jchristn I'm always willing to learn how to do better! I might even restart my project again with the chances you'll recommend, thank you so much for taking time out of your day to look into my code!

[2020-10-22 16:23] jchristn commented on #99
Happy to.  Another modification:
[code]
Could be:
[code]
You could further add a ```CancellationToken``` which would allow you to cancel the tasks later if you want.

[2020-10-22 16:52] jchristn commented on #99
Hi @Antwns I can't run your code, and looking at the original source I can't point to something keeping it from working.  I did however put in a minor refactor, if you'd like to try it.  I didn't make any changes to the client, only to the server, to instantiate the MainServerWorker off of App.xaml.cs.  If you update your files with the copy attached here, you can remove the AuxiliaryServerWorker.

[2020-10-22 17:47] jchristn commented on #97
Hi @lutz I just pushed v4.4.0.4 to NuGet - would you mind catching the logs again?  it should give me a view into what's in the headers and why it's not deserializing.

NuGet: https://www.nuget.org/packages/WatsonTcp/4.4.0.4
Commit: https://github.com/jchristn/WatsonTcp/commit/6a76a26ea9cb40892f30d68b98867f51943d6d11

Thanks for your patience!

[2020-10-23 07:37] lutz commented on #97
Hi @jchristn  with this new version i couldn`t reproduce this behaviour. The sending information was correct

[code]

[2020-10-23 13:43] jchristn commented on #97
Wow, interesting.  Really the only thing I did was reduce the specific exception catch blocks in BuildMessage, and added the enumeration of the header bytes in the exception log message.
[code]
I'm glad it's working for you.  Please re-open if the issue comes back!  Cheers

[2020-10-23 13:43] #97 closed

[2020-10-24 05:26] jchristn commented on #99
Hi @Antwns any update on your side?  Cheers, Joel

[2020-10-25 02:12] Antwns commented on #99
@jchristn Hello, I was dealing with some health issues the past few days, I'll be giving it a shot tomorrow first hand and I'll let you know what happens. It COULD be that my router is just faulty, however other applications work just fine and only this package presents those problems... Like I said, I'll be giving you more definitive details tomorrow. Thank you so much for taking time out of your

[2020-10-25 02:16] jchristn commented on #99
Hope you're feeling better @Antwns - I also published a new version with some other related fixes. Cheers

[2020-10-26 16:46] Antwns commented on #99
Hello @jchristn , applying your patch unfortunately did not fix the issue, however I do have a good idea as of what could be causing this. I will
1)Switch to a console based server instead of WPF to avoid the weird threading stuff you mentioned above.
2)When I created the projected I checked the box in visual studio to place the project files in the same folder(Or something similar to that) I thin

[2020-10-26 20:24] Antwns commented on #99
Hello @jchristn I can confirm that after doing the modifications above the client works perfectly! Thank you so much!!! ❤️

[2020-10-26 20:43] jchristn commented on #99
Glad to hear @Antwns glad it's working for you now.  I don't use discord, but you can reach me via email at joel.christner at gmail.  Cheers!

[2020-10-26 20:43] #99 closed

[2020-11-03 10:09] Mehsoor opened #100 "Receiving and Sending Show Progress"
Please Help.
I want to Show Receiving and Sending Progress in Progress Bar.
Thank you.

[2020-11-03 15:58] jchristn commented on #100
Hi @Mehsoor which ```Send``` methods are you using specifically - string, byte[], or stream?

[2020-11-06 10:38] Antwns opened #101 "Client remains frozen while receiving long byte[]"
Hello, I'm sending a .wav file via WatsonTCP through the network as byte[] and then making it play in a stream, however the client remains locked because it's still receiving data from the server, is there a way to make it asyncronous? Should I use the .SendAsync method instead? Thanks in advance! 😄

[2020-11-06 10:42] Antwns commented on #100
Hi @Mehsoor , you could try to use the .Send method to send the length of the byte array you're willing to send first, then the byte array, then on the client side add an int variable that increments for each byte received which in turn calls a UI update method (At least, that's how I'd have done it)

[2020-11-06 10:57] Antwns commented on #101
Turns out it's because I was writing to the console (for debugging purposes) and it was keeping the UI thread busy, No need to look into it anymore! 👍

[2020-11-06 10:57] #101 closed

[2020-11-06 14:11] jchristn commented on #101
Glad you got it working @Antwns - would definitely recommend using the stream variants for send if you can, too!

[2020-11-08 05:18] Antwns opened #102 "My nightmare returns..."
Hello. It would appear that I'm doing something wrong (Once more)
I believe that the client gets disposed at some point after receiving a long byte[] from remote connections... I have checked with the client.test and server.test those work perfectly fine. I'm just doing something wrong in my own implementation of the package... How can I move the client and the server networking to a separate clas

[2020-11-09 04:58] jchristn commented on #102
Hi @Antwns good to hear from you and sorry the issue is still plaguing you.  I would try defining the WatsonTcpServer instance in your App.xaml.cs, and then instantiate it there.  If the class is instantiated from within one of your views, it's likely to get disposed (garbage collected) if the view changes.  Weird things happen in views/forms that way.  You should be able to access things defined

[2020-11-09 05:02] jchristn commented on #102
I believe this is the patch I sent: https://github.com/jchristn/WatsonTcp/files/5424294/patch.zip

In your case, WatsonTcpServer would be instantiated in your AntVaultServer App.xaml.cs:
[code]

And then instantiated in your MainServerWindow.xaml.cs:
[code]

And then used MainServerWorker.cs class:
[code]

Have you had a chance to give that a try?  Cheers, Joel

[2020-11-09 06:28] Antwns commented on #102
I did but the problem is that I switched to a console app instead for the server. I have implemented the above changes to the client, should I do the same for the server? I noticed that the client connects for a bit, asks the basic information(strings) from the server and then somehow it just gets disconnected before it can send a login request(strings) to the server, how would I implement the abo

[2020-11-09 07:02] Antwns commented on #102
If I understand correctly, I need to move everything about WatsonTCP to a SINGLE class, event the events_messagereceived and then simply instantiate it in parts of my code where I need to use it?

[2020-11-09 08:03] Mehsoor commented on #100
I'm using byte[] Method for 'Send' data.

[2020-11-09 12:06] code-pug opened #103 "Serialization/Deserialization of Metadata"
Hi,

I'm not sure this is an issue, but I'm struggling with deserialization metadata send using the method:

`client.SendAndWait(metadata, totalMilliseconds, "my string");`

Currently, I'm adding a class to the metadata dictionary. It's a simple one, which should be serializable/de-serializable using Json.NET. The class in question has a few string properties, with a constructor sufficient for de-

[2020-11-09 12:29] Antwns commented on #102
UPDATE: I have moved everything server and client related to their own classes and instantiated them later on, however things keep getting disposed, in the seperate classes I created nothing has the static modifier... I don't understand...

[2020-11-09 14:33] jchristn commented on #103
Hi @code-pug interesting - you shouldn't have to further deserialize when you access a known dictionary key that contains an instance of a class as a value.  Assuming your client and server have the same assemblies with the same classes, it should deserialize into an instance.

I assume you're wanting to do something like the following?

[code]
![image](https://user-images.githubusercontent.com/14

[2020-11-09 14:47] code-pug commented on #103
Hey,

Thanks for the quick reply.

Yes, that very much what I'm doing. My class is shared between the client and server using a common library. The only difference I note is that my properties are get-only, but I have a constructor marked with the JsonConstructor attribute, and it deserializes manually, so I guess that's not the problem.

I'll do some more debugging into it soon, and update the th

[2020-11-09 14:55] jchristn commented on #103
I think I see the issue you may be running into.

You would want something like
[code]
Or similar in your code, if I'm not mistaken.

My solution above didn't test out the deserialization path, I just reserialized on the receiving end.  Let me give that a whirl.

[2020-11-09 14:59] jchristn commented on #103
Hi @code-pug I think I just ran into the same thing you were seeing.
[code]
produced:
[code]
This is likely due to the metadata dictionary being ```<object, object>```.  Thanks for pointing this out.

[2020-11-09 16:18] jchristn commented on #103
Hi @code-pug I believe the reason this is happening and the reason you have to do a ```JObject.ToObject<[type]>...``` is because the metadata dictionary is defined as ```<object, object>```.  I'm glad you pointed this out, because I wasn't aware this would happen.

I'll leave this open in case anyone has a suggestion on how the library could be amended to allow the object to be deserialized automa

[2020-11-09 16:39] jchristn commented on #100
Hi @Mehsoor thank you.  We could add a new series of ```Send``` APIs that take an ```Action``` as a parameter that gets invoked every time input data is read and then written to the underlying network.  That invocation could relay the number of bytes sent and the total number of bytes.  For receiving data, if you are consuming data from the network using ```StreamReceived``` you are already given

[2020-11-10 03:21] jchristn commented on #103
Also I'll be sure to update the README on this one.  Thanks for catching it.

[2020-11-10 03:21] #103 closed

[2020-11-10 03:53] jchristn commented on #102
Hi @Antwns if you invite me to your repo, I'll be happy to clone, take a look, and contribute recommendations.

[2020-11-10 05:53] Antwns commented on #102
I did it! Thank you so much!

[2020-11-10 06:30] Mehsoor commented on #100
thank you brother god bless you...

[2020-11-10 06:31] #100 closed

[2020-11-13 05:32] #102 closed

[2020-11-13 11:39] wf-soft opened #104 "In this version, the server connection and disconnect events seem to fail?"
@jchristn Hi! jchristn.
![image](https://user-images.githubusercontent.com/62228539/99068637-d4098980-25e7-11eb-93d5-7f2b200dbd39.png)

[2020-11-13 14:42] jchristn commented on #104
Hi @wf-soft - are the events not firing for you?  Or are you experiencing some other error?  Cheers, Joel

[2020-11-13 14:43] jchristn commented on #102
Haven't forgotten about you @Antwns - the week kinda got away from me.  Still on my list.

[2020-11-13 14:44] wf-soft commented on #104
@jchristn
Yes, server events cannot be triggered. I'm using. Net 5

[2020-11-13 14:51] jchristn commented on #104
Awesome catch, I must have accidentally removed them on a recent update.  Fixing now.

[2020-11-13 14:53] wf-soft commented on #104
@jchristn Great, my system can't work now. Thank you

[2020-11-13 14:55] jchristn commented on #104
Hi @wf-soft this should fix the issue.  Please re-open if it doesn't.  Thanks for finding and reporting!

NuGet: https://www.nuget.org/packages/WatsonTcp/4.5.0.2
Commit: https://github.com/jchristn/WatsonTcp/commit/c35b561da58c2642f967b66530feab3d9ab79bbb

[2020-11-13 14:55] #104 closed

[2020-11-13 14:56] wf-soft commented on #104
@jchristn Vray Good!

[2020-11-13 15:04] Antwns commented on #102
I'm sorry but the newest version completely bricked my app... I moved on to a different package and cross-network communication works too. I'm sorry @jchristn , I waited ~4 days I understand you had alot to work with and that's okay

[2020-11-13 15:17] jchristn commented on #102
Thank you Antwns - glad to hear you have a working solution!

[2020-11-22 04:48] kzonesoft opened #105 "_Events.IsUsingMessages and _Events.IsUsingStreams"
_Events.IsUsingMessages  and   _Events.IsUsingStreams  always true.

I only put event Events.StreamReceived

![Screenshot_2](https://user-images.githubusercontent.com/73275292/99894666-a3e17b00-2cb8-11eb-89a3-5b07adbc0ae6.png)
![Screenshot_1](https://user-images.githubusercontent.com/73275292/99894668-a6dc6b80-2cb8-11eb-9428-85ad00a3f7fa.png)

[2020-11-22 06:13] jchristn commented on #105
Thanks - probably because by default I'm setting the event handlers to ```delegate { };``` - let me test to make sure leaving them empty doesn't create an issue, and I'll push a patch.  Thanks for letting me know

[2020-11-22 06:26] jchristn commented on #105
Hi @kzonesoft thanks for letting me know - this should fix it.  Please re-open if it doesn't!  And thanks for making the library better!  Cheers, Joel

NuGet: https://www.nuget.org/packages/WatsonTcp/4.6.0.1
Commit: https://github.com/jchristn/WatsonTcp/commit/5854847742b9d85603c7e22b35ee3ff841f94202

[2020-11-22 06:26] #105 closed

[2020-11-22 07:07] kzonesoft commented on #105
OK. it's working bro :+1:

[2020-12-07 20:26] crotella opened #106 "WatsonTcpClientEvents - AuthenticationSucceeded is never fired"
Hi
I noticed that the AuthenticationSucceeded event is never fired on the client side,  I believe it's due to having the HandleAuthenticationSucceeded method invoke the ServerConnected event, instead of the AthenticationSucceed event.

 internal void HandleAuthenticationSucceeded(object sender, EventArgs args)
        {
            WrappedEventHandler(() => ServerConnected?.Invoke(sender, args), "

[2020-12-07 20:32] jchristn commented on #106
Ah, thanks @crotella looking at this now!

[2020-12-07 20:36] jchristn commented on #106
Great catch @crotella - fixed in 4.6.0.2, please re-open if it doesn't!

NuGet: https://www.nuget.org/packages/WatsonTcp/4.6.0.2
Commit: https://github.com/jchristn/WatsonTcp/commit/4457ae03df47ff4861d540241e4aa217c78b6e9a

[2020-12-07 20:36] #106 closed

[2020-12-07 20:42] crotella commented on #106
Np

Thanks for the great product

Been using simpletcp for years now

Giving WatsonTcp a try now.

On Mon., Dec. 7, 2020, 3:36 p.m. Joel Christner, <notifications@github.com>
wrote:

[2020-12-08 18:14] Jyck opened #107 "Random disconnects on android / unity"
Hi

its not an existing problem but information for an issue.
i had random disconnects on my android device (mono/net4.x and/or standard2.0)
to windows net 4.x  server with WatsonTcp version >= 4.3.0.
Connection was ok for some seconds, mabye one minute then disconnects.

it was hard to find out the problem but the solution was to dissable on the server EnableTcpKeepAlives.

version 4.2.0 all conn

[2020-12-17 10:46] shanto462 opened #109 "Less performance in .net framework"
Is there any problem or why I am getting huge CPU usage and less throughput in .Net framework?
In .Net Core and .Net 5 it's working great.

Most of the cpu usage in this call

Thanks in advance.

[2020-12-17 14:27] jchristn commented on #109
Hi @shanto462 which version of the library and which version of .NET Framework are you using?  Do you see the CPU utilization go high when it's idle, or only when receiving a message?

Also do you see this same behavior in the ```Test.Client``` and ```Test.Server``` projects?

Cheers, Joel

[2020-12-17 15:06] shanto462 commented on #109
Thank you @jchristn for responding.
You guys are maintaining an awesome project.

I tried with .Net Framework 4.72 and 4.8.
I am using the latest version of the library.

CPU utilization is going high when receiving a message.

I faced really bad performance in the Test.Throughput project comparing with .net core and .net 5.

I was testing by sending 10000 messages from a client.
It took 3-4 secon

[2020-12-17 15:34] jchristn commented on #109
Hi @shanto462 thanks for the kind words.  What message size were you using in the Test.Throughput project?  I just tested with 4 clients, 4096 messages, 65536 bytes/message on .NET Framework 4.6.1
[code]
CPU utilization spiked as expected, but dropped quickly.

I'll also re-target to both 4.7.2 and 4.8 on my side to see if I can reproduce.

[2020-12-17 16:06] jchristn commented on #109
Results from 4.7.2:
[code]
Results from 4.8:
[code]

What message size were you using from the client?  Were you using single client or multiple clients?  Which OS and version were you using?  My tests were done on Win10 Pro on my laptop; it's 16GB with an i7-8550U, which is definitely less powerful than yours, so something weird must be going on.

[2020-12-17 16:32] shanto462 commented on #109
Now I was using the async variant of the send function.
That function was causing problem for me.
Now it is ok, but there is a lot difference between .net framework and .net core/ .net 5 performance

[2020-12-17 16:38] jchristn commented on #109
Ok - let me try amending Test.Throughput to include an async variant.  Will report back and see how they compare.

[2020-12-17 17:15] jchristn commented on #109
Just pushed an update with async variants for Test.Throughput, here are the results.  All tests were 4 clients sending 4096 messages of size 65536 using async send.

net461
[code]
net472
[code]
net48
[code]
I'm having a hard time reproducing what you are seeing - could you reduce the code down to something you can share that highlights the behavior?  Definitely want to help get to the bottom of th

[2020-12-18 13:48] Jyck opened #110 "Disconnect not recognized -> High CPU Usage"
Server on Net 4.7.2
Client on Net 4.x

running as apk on android, all is fine.
Close client app -> server recorgnize disconnect.
EnableTcpKeepAlives on server does not make a difference

running under BlueStacks Emulator, app starts,  connection is ok.
In idle mode (connection is ok but atm no data is transfered)  Close App -> Server didnt recorgnize disconnect.
Server CPU Load increase from nearl

[2020-12-18 16:25] jchristn commented on #110
Hi @Jyck could you use something like ANTS Performance Profiler to see what the library is doing when you close the app in BlueStacks? I unfortunately don't have this environment.

[2020-12-18 18:24] Jyck commented on #110
ok here we go.

in short:
[code]

Detailed:
[code]

[2020-12-18 19:00] Jyck commented on #110
ok here is the error:
endCheck = 0,0,0,0
so i added a 0 Header check.
if so we return false, disconnect is fine now.

[code]

logs: 18:58:43 [WatsonTcpServer] starting with SSL on 192.168.2.170:59141
18:58:45 [WatsonTcpServer] accepted connection from 192.168.2.170:59090
18:58:46 [WatsonTcpServer] requesting authentication material from 192.168.2.170:59090
18:58:46 [WatsonTcpServer] starting data

[2020-12-18 19:27] jchristn commented on #110
Hi @Jyck here they are, thanks for finding this!  Hope you don't mind I added your name to the README.

NuGet: https://www.nuget.org/packages/WatsonTcp/4.7.0.1
Commit: https://github.com/jchristn/WatsonTcp/commit/fc745029507ee7ac6719644e6bf8e6e93b8b399d

Cheers, Joel

[2020-12-19 04:56] shanto462 commented on #109
I don't know what is going on. I am using the Test.Throughput  Project.
I was thinking is there any problem with stream.readasync() method in .net framework.
This method is the critical path.

[2020-12-19 05:09] shanto462 commented on #109
This is the result I am getting
using 1 client, 65536 message size and 4096 messages :(

[2020-12-19 05:58] shanto462 commented on #109
After starting without any debugger

Too much difference but still lacking performance than .net core and .net 5

[2020-12-22 21:47] Jyck commented on #107
issue can closed.
with  EnableTcpKeepAlives=false  the problem was solved.
Maybe keep it default to false and enable it manually if needed.

[2020-12-22 21:47] #107 closed

[2020-12-24 03:01] BigDream324 opened #111 "Considering about upgrade to .netstandard/.net5?"
.net framework will not be supported by microsoft, would you like upgrade this amazing project to .net standard or .net5?